<div class="view">
    <img
      class=" original-size banner-image "
      src="assets/hyattplaza-images/Guestservices/Group 127.png"
     
      style="width:100%;"
    />
    <div class="mask flex-center rgba-stylish-light">
      <h1 class="con white-text">Guest services</h1>
    </div>
  </div>
  <h6 class="hed-tp">At Hyattplaza we offer a range of exclusive services to make your shopping experience a pleasurable one.</h6>

  <div class="icons">
    <div class="item item1" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/stroller.svg"  >
        <h6>Kids Stroller</h6>
    </div>
    <div class="item item2" >
      <img class="i1" src="assets/hyattplaza-images/Guestservices/wheel-chair.svg">
      <h6>Wheel 
        Chair</h6>
    </div>
    <div class="item item3" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/search.svg">
        <h6>Lost and Found</h6>
    </div>
    <div class="item item4" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/fax.svg">
        <h6>Photostat and Fax</h6>
    </div>
    <div class="item item5" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/info.svg">
        <h6>Mall Information</h6>
    </div>
    <div class="item item6" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/power-bank.svg">
        <h6>Powerbanks</h6>
    </div>
    <div class="item item7" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/wifi.svg">
        <h6>Free WiFi</h6>
    </div>
    <div class="item item8" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/withdraw.svg">
        <h6>ATM</h6>
    </div>
    <div class="item item9" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/mother-changing-baby-clothes.svg">
        <h6>Baby Changing Room</h6>
    </div>
    <div class="item item10" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/newborn.svg">
        <h6>Feeding Room</h6>
    </div>
    <div class="item item11" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/valet.svg">
        <h6>Visit Parking</h6>
    </div>
    <div class="item item12" >
        <img class="i1" src="assets/hyattplaza-images/Guestservices/d5ef91bb09cd0e266310f75a8e1915bc.svg">
        <h6>Prayer Rooms</h6>
    </div>
  </div>

  <hr/>
  <h6>Employee Excellence Awards</h6>

  
  <div class="employee-awards">
      <div class="empl-div1">
          
          <img class="em-im1" src="assets/hyattplaza-images/Guestservices/lar.png" style="width:100%;">

      </div>
      <div class="empl-div2">
            <h5>{{details[1].name}}  | {{details[2].month}}</h5>
  
<p >{{details[0].des}}</p>
<p> {{details[0].des}}</p>
      </div>
      <div class="empl-div3">
          <div class="two-empl-img">
              <div class="img1">
                  <img class="em-im" src="{{ employee_img[1].img }}" style="width:100%;">
              </div>
              <div class="img1">
                    <img class="em-im" src="{{ employee_img[1].img }}" style="width:100%;">

              </div>

          </div>

      </div>
  </div>


  <!-- AlertBox -->

<div
mdbModal
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="myBasicModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <form>
        <div class="modal-body" >
            <p style="text-align:center;">Rent kiddy kruzzer(baby carts) from our customer<br>service at the below rates</p>
                <table style="width:100%">
                        <tr>
                          <th>&nbsp; MODEL</th>
                          <th>&nbsp;  FIRST 2 HRS</th> 
                          <th>&nbsp;  SUBSEQUENT HRS</th>
                        </tr>
                        <tr>
                          <td>&nbsp; SMALL</td>
                          <td>&nbsp; QR 20</td> 
                          <td>&nbsp; QR 10</td>
                        </tr>
                        <tr>
                          <td>&nbsp; LARGE</td>
                          <td>&nbsp; QR 25</td> 
                          <td>&nbsp; QR 12</td>
                        </tr>
                        <tr>
                                <td>&nbsp; LARGE (INFANTS)</td>
                                <td>&nbsp; QR 25</td> 
                                <td>&nbsp; QR 12</td>
                              </tr>
                               
                      </table>
            
</div>
        
      </form>
    </div>
  </div>
</div>
</div>
