.page-banner {
    display: block;
    position: relative;
    .banner-image {
        width: 100%;
        height: 333px;
    }
    .banner-box-shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
       // background-image: url('/assets/icons/Rectangle_137-page.png');
       background-image: url('http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/icons/Rectangle_137-page.png');
       
       background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .banner-title {
            text-align: center;
            color: #ffffff;
            font-family: Marcellus;
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            justify-content: center;
            max-width: 50%;
        }
    }
}


.division {
    display: grid;
    grid-template-columns: repeat(2, 66% 34% );
    margin-right: 22px !important;
    grid-gap: 20px;
    margin: 33px;
     
}

.btn {
    border: 1px solid black;
    color: black;
    height: 42px;
}

.rl-bg-rw {
    display: grid;
    // margin-right: 22px !important;
    // margin-top: 22px !important;
    // margin-left:15px !important;
    // margin-bottom: 30px !important;
    grid-template-rows: repeat(2, 3fr);
}

.main-blog {
    margin-left: 22px;
    margin-top:22px;
    margin-right: 22px;


}

.related-blog {
    margin-right: 33px;
}

p h3 {
    font-family: Akkuret-Light;
}


// Slider
.categories-slider {
    width:88%;
    //height: 188px !important;
 
    display: inline-block;
    margin-left: 35px;
    bottom: 10px;
    
    .record {
        //box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding:0px;
        margin:3px;
        position: relative;
        display:block;
    }
    .category-image {
        width:100%;
        height: 100%;
    }
}



// VerticlaLine


// .vl {
//     border-left: 1px solid #aaaa;
//     height: 50%;
//     position: absolute;
    
//    margin-left: -25px;
//     margin-top: 12px;
//     margin-bottom: 12px;
//     top: 81;
//     bottom: 10;
//   }
// ENDLine

.brd{
    border-right: 1px solid #aaaa !important;
   // margin-top: 3px !important;
}

.blg-btn{
    border:1px solid black !important;
    color: #000000  !important;
}

.txt{
    margin-top: 12px;
}
.icon{
    height: 13px;
    width: 13px;
    margin: 3px;
}
hr{
    margin: 0 !important;
}
// p{
//     margin-bottom: 1px !important;
// }

.ex-btn{
    margin-top: 22px;
}


.related-blog {
   
    margin-top: 33px !important;
}

h2{
    font-family: Marcellus  !important;
}