<div class="page-banner">
  <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
  <img [src]="pageBannerImage" class="banner-image original-size" />

  <div class="banner-box-shadow">
    <div class="banner-title">
      {{ pageBannerTitle }}
    </div>
  </div>
</div>

<div class="division">
  <div class="main-blog brd">
    <h2>{{ newsDetail.title }}</h2>
    <p>{{ newsDetail.author }}</p>
    <p>{{ newsDetail.description }}</p>
    <img [src]="newsDetail.news_image" />

    <!-- <div class="categories-slider">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let category of categories" class="slide record">
      <img [src]="category.image" class="category-image">

      <div class="category-details">
       
      </div>
      <div class="category-title">
          {{category.title}}
        </div>
    </div>
  </ngx-slick>
</div> -->
  </div>
  <div class="related-blog">
    <h4>Related News</h4>
    <div class="rl-bg-rw">
      <div class="blg1" *ngFor="let item of relatedNews">
        <img src="{{ item.news_image }}" style="width:100%;" />
        <p>{{ item.create_date }}</p>
        <hr />
        <p>{{ item.short_desc }}</p>
      </div>
    </div>
    <div style="text-align:center;">
      <button class="cus-btn blg-btn button-common-style" routerLink="/media">
        EXPLORE MORE
      </button>
    </div>
  </div>
</div>
