<div class="page-banner">
        <img src="{{ (pageBannerLoaded ? pageBanner[0].cover : '') }}" class="banner-image">
        <div class="banner-box-shadow">
          <div class="banner-title">
            {{ (pageBannerLoaded ? pageBanner[0].title : '') }}
          </div>
        </div>
        <div class="banner-search">
          <div class="search-boxes">
            <select  [(ngModel)]="selectedCategory" class="search-select" name="category">
              <option value="0">Select Category</option>
              <option *ngFor="let option of dropDownCategories.data" [value]="option.id">{{ option.name }}</option>
            </select>
            <input type="text" class="search-text" name="search">
            <div class='search-button'>
              <img src="/assets/icons/search.png">
            </div>
          </div>
        </div>
      </div>

      <div class="categories container">
        <div class="categories-title">
          CATEGORIES
        </div>

        <div class="categories-slider">
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let category of dropDownCategories.data" class="slide record">
              <img [src]="category.image" class="category-image">
      
              <div class="category-details">
               
              </div>
              <div class="category-title">
                  {{category.name}}
                </div>
            </div>
          </ngx-slick>
        </div>
      
      </div>