<div class="shop-header container">
  <div class="header-links row">
    <div class="link">
      <span class="link-icon"><img src="../../../../assets/icons/location.png"></span>
      <span class="link-text">STORE LOCATION</span>
    </div>
    <div class="link">
      <span class="link-icon"><img src="../../../../assets/icons/clock.png"></span>
      <span class="link-text">LOREM IPSUM</span>
    </div>
    <div class="link">
      <span class="link-icon"><img src="../../../../assets/icons/pointer.png"></span>
      <span class="link-text">LOREM IPSU</span>
    </div>
    <div class="link">
      <span class="link-icon"><img src="../../../../assets/icons/gift.png"></span>
      <span class="link-text">GIFT</span>
    </div>
    <div class="link-icon-section">
      <span class="link-icon"><img src="../../../../assets/icons/lnr-phone-handset.png"></span>
      <span class="link-icon"><img src="../../../../assets/icons/header-separator.png"></span>
      <span class="link-icon"><img src="../../../../assets/icons/hindi.png"></span>
      <a (click)="changeLang('en')" > English </a> | <a (click)="changeLang('ar')" > Arabic </a>
    </div>
  </div>
  <div class="shop-menu">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="menu-logo">LOGO
          </div>
        </div>

        <div class="col-8">
          <div class="menus" *ngIf="topMenuLoaded">
            <!-- <div class="menu" *ngFor="let menu of topMenu.data;">
              <a href=""> {{ menu.serviceName }} </a>
            </div>          -->
          </div>
        </div>


        <div class="col-2 search-bar">
          <div class="menu menu-search">
            <input type="text" class="search-box" value="Search">
            <img src="/assets/icons/menu-search.png" class="menu-search-icon">
          </div>
        </div>
      </div>
    </div>



  </div>
</div>