<div class="shop-header container">
    <div class="header-links row">
        <div class="link">
            <span class="link-icon"><img src="assets/icons/location.png"></span>
            <span class="link-text"><a >STORE LOCATION</a></span>
        </div>
        <div class="link">
            <span class="link-icon"><img src="assets/icons/earth.svg"></span>

            <span class=" link-text"> 
          <a class="up-head" target="_blank" href="https://www.google.com/maps/dir//25.2568179,51.4374085/@25.256818,51.437408,15z?hl=en-GB">LOCATION</a>  
        </span>
        </div>
        <div class="link">
            <span class="link-icon"><img src="assets/icons/pointer.png"></span>
            <span class="link-text"><a class="up-head" routerLink="leasing">LEASING </a> </span>
        </div>
        <div class="link">
            <span class="link-icon"><img src="assets/icons/crown.svg"></span>
            <span class="link-text"><a class="up-head"routerLink="vip-card">VIP CARD </a> </span>
        </div>
        <div class="link">
            <span class="link-icon"><img src="assets/icons/gift.png"></span>

            <!-- <span class="link-icon"><img src="assets/icons/magic-wand.svg"></span> -->
            <span class="link-text"><a class="up-head"routerLink="gift-voucher">HADIYA</a> </span>
        </div>
        <div class="link-icon-section">
            <span class="link-icon"><a routerLink="contact-us"><img src="assets/icons/lnr-phone-handset.png"></a> </span>
            <span class="link-icon"><img src="assets/icons/header-separator.png"></span>
            <span class="link-icon"><a href="http://wildherbstechnologies.com/demos/hyattplaza-beta-version/arabic/">  <img src="assets/icons/hindi.png"></a></span>
        </div>
    </div>




    <div class="shop-menu">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a routerLink="/">
                        <div class="menu-logo">
                            <img class="logo-img" src="assets/hyattplaza-images/new-images/logo-plaza.png" style="width: 100%;">
                        </div>
                    </a>
                </div>

                <div class="col-8">
                    <div class="menus">
                        <div class="menu" id="menu">

                            <a routerLink="shopping" class="cool-link">  SHOPPING
              </a>
                            <div class="underbar"></div>
                            <div class="dropdown-menu mega-menu row z-depth-1" id="mega-nav">
                                <div class="row">
                                    <!-- COLOUMN1-->
                                    <div class="col-md-2 col-xl-2 sub-menu mt-5 mb-5 brd">
                                        <p class="sub-title text-uppercase">CATEGORIES</p>
                                        <ol class="list-unstyled">
                                            <li>Men Fashion</li>
                                            <li>Women Fashion</li>
                                            <li>Children Fashion</li>
                                            <li>Arabic Fashion</li>
                                            <li>Home Furnishing</li>
                                            <li>Optic & eye wear</li>
                                            <li>Perfumes</li>
                                            <li>Cosmetics</li>
                                            <li>More..</li>
                                        </ol>
                                    </div>
                                    <!-- COLUMN 2 -->
                                    <div class="col-md-2 col-xl-2 sub-menu mt-5 mb-5 brd">
                                        <p class="sub-title text-uppercase">BRANDS</p>
                                        <ol class="list-unstyled">
                                            <li>Louis Vutton</li>
                                            <li>Burberry</li>
                                            <li>Charles and Keith</li>
                                            <li>Aldo</li>
                                            <li>Kayra</li>
                                            <li>Dary</li>
                                            <li>Karisma</li>
                                            <li>Tissot</li>
                                            <li>More..</li>
                                        </ol>
                                    </div>
                                    <!-- COLUMN 3 -->
                                    <div class="col-md-4 col-xl-4 sub-menu mt-5 mb-5">
                                        <p class="sub-title text-uppercase">OFFERS</p>
                                        <div class="col-xl-12 clearfix d-none d-md-block">
                                            <!--Featured image-->
                                            <div class="view overlay z-depth-0">
                                                <img src="assets/hyattplaza-images/7.png" class="img-fluid nav-img" alt="First sample image">
                                                <div class="mask rgba-white-slight flex-center">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <p class="mb-2">
                                                <a class="news-title small" href="">22 Jan - 15 Feb 2019</a>

                                            </p>
                                            <hr class="hr">

                                            <h3 class="mb-0">
                                                Enjoy 20% off discount
                                            </h3>
                                            <p class="font-small text-uppercase white-text">
                                                <i class="far fa-clock pr-2" aria-hidden="true"></i>July 17, 2017 /
                                                <i class="far fa-comments px-1" aria-hidden="true"></i> 20</p>
                                        </div>
                                    </div>
                                    <!-- COLUMN 4 -->
                                    <div class="col-md-4 col-xl-4 sub-menu mt-5 mb-5">
                                        <p class="sub-title text-uppercase">EVENTS</p>
                                        <div class="col-xl-12  clearfix d-none d-md-block">
                                            <!--Featured image-->
                                            <div class="view overlay z-depth-0">
                                                <img src="assets/hyattplaza-images/events/3.png" class="img-fluid nav-img" alt="First sample image">
                                                <div class="mask rgba-white-slight flex-center">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <p class="mb-0">
                                                <a class="small" href="">22 Jan - 15 Feb 2019</a>
                                            </p>
                                            <hr class="hr">
                                            <h3 class="mb-0">
                                                Winter Wonderland
                                            </h3>
                                            <p class="font-small text-uppercase white-text">
                                                <i class="far fa-clock pr-2" aria-hidden="false"></i>July 17, 2017 /
                                                <i class="far fa-comments px-1" aria-hidden="false"></i> 20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="menu" id="menu2"><a routerLink="dining" class="cool-link">
              DINING</a>
                            <div class="dropdown-menu mega-menu row z-depth-1" id="mega-nav">
                                <div class="row">
                                    <!-- COLOUMN1-->
                                    <div class="col-md-2 col-xl-2 sub-menu mt-5 mb-5 brd">
                                        <p class="sub-title text-uppercase">CATEGORIES</p>
                                        <ol class="list-unstyled">
                                            <li>DINING </li>
                                            <li>Women Fashion</li>
                                            <li>Children Fashion</li>
                                            <li>Arabic Fashion</li>
                                            <li>Home Furnishing</li>
                                            <li>Optic & eye wear</li>
                                            <li>Perfumes</li>
                                            <li>Cosmetics</li>
                                            <li>More..</li>
                                        </ol>
                                    </div>
                                    <!-- COLUMN 2 -->
                                    <div class="col-md-2 col-xl-2 sub-menu mt-5 mb-5 brd">
                                        <p class="sub-title text-uppercase">BRANDS</p>
                                        <ol class="list-unstyled">
                                            <li>Louis Vutton</li>
                                            <li>Burberry</li>
                                            <li>Charles and Keith</li>
                                            <li>Aldo</li>
                                            <li>Kayra</li>
                                            <li>Dary</li>
                                            <li>Karisma</li>
                                            <li>Tissot</li>
                                            <li>More..</li>
                                        </ol>
                                    </div>
                                    <!-- COLUMN 3 -->
                                    <div class="col-md-4 col-xl-4 sub-menu mt-5 mb-5">
                                        <p class="sub-title text-uppercase">OFFERS</p>
                                        <div class="col-xl-12 clearfix d-none d-md-block">
                                            <!--Featured image-->
                                            <div class="view overlay z-depth-0">
                                                <img src="assets/hyattplaza-images/dining/dsl1.png" class="img-fluid nav-img" alt="First sample image">
                                                <div class="mask rgba-white-slight flex-center">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <p class="mb-2">
                                                <a class="news-title small" href="">22 Jan - 15 Feb 2019</a>
                                            </p>
                                            <hr class="hr">
                                            <h3 class="mb-0">
                                                Enjoy 20% off discount
                                            </h3>
                                            <p class="font-small text-uppercase white-text">
                                                <i class="far fa-clock pr-2" aria-hidden="true"></i>July 17, 2017 /
                                                <i class="far fa-comments px-1" aria-hidden="true"></i> 20</p>
                                        </div>
                                    </div>
                                    <!-- COLUMN 4 -->
                                    <div class="col-md-4 col-xl-4 sub-menu mt-5 mb-5">
                                        <p class="sub-title text-uppercase">EVENTS</p>
                                        <div class="col-xl-12  clearfix d-none d-md-block">
                                            <!--Featured image-->
                                            <div class="view overlay z-depth-0">
                                                <img src="assets/hyattplaza-images/dining/dsl3.png" class="img-fluid nav-img" alt="First sample image">
                                                <div class="mask rgba-white-slight flex-center">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <p class="mb-0">
                                                <a class="small" href="">22 Jan - 15 Feb 2019</a>
                                            </p>
                                            <hr class="hr">
                                            <h3 class="mb-0">
                                                Winter Wonderland
                                            </h3>
                                            <p class="font-small text-uppercase white-text">
                                                <i class="far fa-clock pr-2" aria-hidden="false"></i>July 17, 2017 /
                                                <i class="far fa-comments px-1" aria-hidden="false"></i> 20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="menu" id="menu3"><a routerLink="entertainment" class="cool-link">
              ENTERTAINMENT</a>
                            <div class="dropdown-menu mega-menu row z-depth-1" id="mega-nav">
                                <div class="row">
                                    <!-- COLOUMN1-->
                                    <div class="col-md-2 col-xl-2 sub-menu mt-5 mb-5 brd">
                                        <p class="sub-title text-uppercase">CATEGORIES</p>
                                        <ol class="list-unstyled">
                                            <li>Men Fashion</li>
                                            <li>Women Fashion</li>
                                            <li>Children Fashion</li>
                                            <li>Arabic Fashion</li>
                                            <li>Home Furnishing</li>
                                            <li>Optic & eye wear</li>
                                            <li>Perfumes</li>
                                            <li>Cosmetics</li>
                                            <li>More..</li>
                                        </ol>
                                    </div>
                                    <!-- COLUMN 2 -->
                                    <div class="col-md-2 col-xl-2 sub-menu mt-5 mb-5 brd">
                                        <p class="sub-title text-uppercase">BRANDS</p>
                                        <ol class="list-unstyled">
                                            <li>Louis Vutton</li>
                                            <li>Burberry</li>
                                            <li>Charles and Keith</li>
                                            <li>Aldo</li>
                                            <li>Kayra</li>
                                            <li>Dary</li>
                                            <li>Karisma</li>
                                            <li>Tissot</li>
                                            <li>More..</li>
                                        </ol>
                                    </div>
                                    <!-- COLUMN 3 -->
                                    <div class="col-md-4 col-xl-4 sub-menu mt-5 mb-5">
                                        <p class="sub-title text-uppercase">OFFERS</p>
                                        <div class="col-xl-12 clearfix d-none d-md-block">
                                            <!--Featured image-->
                                            <div class="view overlay z-depth-0">
                                                <img src="assets/hyattplaza-images/Entertainment/2.png" class="img-fluid nav-img" alt="First sample image">
                                                <div class="mask rgba-white-slight flex-center">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <p class="mb-2">
                                                <a class="news-title small" href="">22 Jan - 15 Feb 2019</a>
                                            </p>
                                            <hr class="hr">
                                            <h3 class="mb-0">
                                                Enjoy 20% off discount
                                            </h3>
                                            <p class="font-small text-uppercase white-text">
                                                <i class="far fa-clock pr-2" aria-hidden="true"></i>July 17, 2017 /
                                                <i class="far fa-comments px-1" aria-hidden="true"></i> 20</p>
                                        </div>
                                    </div>
                                    <!-- COLUMN 4 -->
                                    <div class="col-md-4 col-xl-4 sub-menu mt-5 mb-5">
                                        <p class="sub-title text-uppercase">EVENTS</p>
                                        <div class="col-xl-12  clearfix d-none d-md-block">
                                            <!--Featured image-->
                                            <div class="view overlay z-depth-0">
                                                <img src="assets/hyattplaza-images/Entertainment/3.png" class="img-fluid nav-img" alt="First sample image">
                                                <div class="mask rgba-white-slight flex-center">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <p class="mb-0">
                                                <a class="small" href="">22 Jan - 15 Feb 2019</a>
                                            </p>
                                            <hr class="hr">
                                            <h3 class="mb-0">
                                                Winter Wonderland
                                            </h3>
                                            <p class="font-small text-uppercase white-text">
                                                <i class="far fa-clock pr-2" aria-hidden="false"></i>July 17, 2017 /
                                                <i class="far fa-comments px-1" aria-hidden="false"></i> 20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu"><a routerLink="events" class="cool-link"> 
              EVENTS</a>
                        </div>
                        <div class="menu"><a routerLink="all-offers" class="cool-link">
                OFFERS
            </a>

                        </div>
                        <div class="menu">
                            <a routerLink="guest-services" class="cool-link">
                  GUEST SERVICES
              </a>

                        </div>
                        <div class="menu">
                            <a routerLink="blog" class="cool-link"> BLOG</a>
                        </div>
                        <div class="menu">
                            <a routerLink="about-us" class="cool-link">
              ABOUT US
            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 search-bar">
                    <div class="menu menu-search">
                        <input type="text" class="search-box" value="Search">
                        <img src="assets/icons/menu-search.png" class="menu-search-icon">
                    </div>
                </div>
            </div>
        </div>



    </div>








</div>