.shop-header {
    width:100%;
    background-color: #ffffff;

    .header-links {
        display:block;
        text-align: center;
        padding-top:10px;
        padding-bottom:10px;
        margin:auto;
        .link {
            display: inline-block;
            margin-left:20px;
            margin-right:20px;
            .link-icon {
                width: 11px;
                height: 19px;
                margin-right:10px;
            }
            .link-text {
                color: #000000;
                height: 18px;
                font-family: Akkurat;
                font-size: 11px;
                font-weight: 300;
                text-transform: uppercase;
                vertical-align: bottom;
            }
        }
        .link-icon-section {
            margin-left:40px;
            display: inline-block;
            .link-icon {
                width: 11px;
                height: 19px;
                margin-right:10px;
            }
            .link-text {
                color: #000000;
                height: 18px;
                font-family: Akkurat;
                font-size: 15px;
                font-weight: 300;
                text-transform: uppercase;
                vertical-align: bottom;
            }
        }
    }
    .shop-menu {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #6f1c46;
        width: 100%;
        position: relative;
        height: 50px;
        text-align: center;
        .row {
            margin-right:0px;
            margin-left:0px;
        }
        .col-2, .col-8 {
            padding-right:0px;
            padding-left:0px;
        }
        .menu-logo {
            width: 149px;
            height: 146px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border: 3px solid #ffffff;
//background-image: url('../../../../assets/hyattplaza-images/new-images/logo-plaza.png');
           // background-color: #6f1d46;
            position: absolute;
            left: 100px;
            top: -35px;
            margin:auto;
            color:#ffffff;
            padding-top:55px;
            z-index: 11;
        }
         .logo-img {
           margin-top: -55px !important;
         }

        .menus {
            display: flex;
            text-align: center;
            padding: 12px 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            .menu {
                color: #ffffff;
                font-family: Akkurat;
               // font-size: 16px;
               //font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                display: inline-block;
                margin-right:40px;
                //width: 88%;
                font-size:1.1vw;

              
            }

            .menu:hover + .dropdown-menu {
                visibility: visible;
    
                display: block !important;
                z-index: 999;
            }
            
        }

      
    

        .search-bar {
            align-items: center;
            display: flex;
            justify-content: left;
        }
        .menu-search {
            float:right;
            display: inline-flex;
            align-items: center;
            .search-box {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                border-radius: 16px;
                border: 1px solid #d8ac73;
                background-color:#6f1c46;
                color: #ffd17f;
                font-family: Akkurat;
                font-size: 14px;
                font-weight: 400;
                padding-left:5px;
                width:200px;
            }
            .menu-search-icon {
                width: 16px;
                height: 16px;                
                position: absolute;
                left:175px;
            }
        }
        
    }
}

.up-head {
    color: #000000;
}
a{
    text-decoration: none;
    color: #ffffff;
}

.btn-brands {
    display: none;

}

div.menu-logo {
    height: 110px !important;
    width: 111px !important;
    left: 10px !important;
}


// RIGHT BORDER
.brd{
    border-right: 2px solid #f2f3f2 !important;

}

// END BORDER

   



@media only screen 
      and (max-width : 768px) {
        

span.link-text{
    font-size: 1vw !important;
}


        div.menu-logo  img {
            // max-width: 11px !important;
            // height: 110px !important;
 width: 100% !important;
// height: 100% !important;

object-fit: fill;
        }
        
        
  

      }

      .lnr{
          margin-top: 6% !important;
      }

       


    //   MEGANVTEST

    .shop-header[_ngcontent-c1] .shop-menu[_ngcontent-c1] .row[_ngcontent-c1] {
        margin-right: 0px !important;
        margin-left: 0px !important; 
        right: -25% !important;
        top: 46px !important;
        z-index: 1 !important;
    
    }

    .shop-header[_ngcontent-c3] .shop-menu[_ngcontent-c3] .row[_ngcontent-c3] {
        margin-right: 0px !important;
        margin-left: 0px !important; 
        right: -25% !important;
        top: 46px !important;
        z-index: 1 !important;
    }

    // ENDTEST

    @media only screen 
and (max-width:900px){
     
    

  .menu {
      font-size: 1vw !important;
  }
}



// CUSTOMUNDERLINE ANIMATION
 
// END ANIMATION

// .shop-header {
//     position: fixed !important;
//     z-index: 9999;
// }

@media screen and (min-width: 1400px) {
    

    div.menu-logo{
        left: 20% !important;
      }

      .menu{
        font-size: 14px !important;
    }
}
 

// HEADER HOVER LINE
.cool-link {
    display: inline-block;
    //color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
   // background: #d8ac73;
   background: #ffffff;
    transition: width .3s;
    margin-top:8px;
   
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
     
    margin-top:8px;
}
// END LINE
.menu {
    text-transform: initial !important;
}

.sub-menu{
    margin-top: 5px !important;
}
.mb-0{
    margin-top: 1px !important;
}
.small{
    color: #000000 !important;
}

.nav-img{
    height: 155px !important;
    width: 288px !important;
    object-fit: cover;
}
.hr{
    width: 288px !important;
    margin-left: -1px !important;
}



@media screen and (min-width: 1500px) { 

    .nav-img{
        height: 200px !important;
        width: 388px !important;
        object-fit: cover;
    }

    .hr{
        width: 388px !important;
        margin-left: -1px !important;
    }
    
}

@media only screen 
and (max-width:766px){
    a, .link-text{
        font-size: 1vh !important;
    }
}