@font-face {
    font-family: Akkurat-Light;
    src: url('../home/Akkurat-Light.ttf');
} 

@font-face {
    font-family: Marcellus-Regular;
    src:url('../home/Marcellus-Regular.ttf');
}





.view {
 //   margin-top: 111px;
}

.con , h4 {
    text-transform: uppercase;
    font-family: Marcellus-regular;

}
.fnt{
    font-family: Akkurat-Light;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 33px;
margin-bottom: 28px;
}

.mark-leas{
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: 5fr;
}
.leasing, .marketing{
    margin-left: 88px;
    margin-right: 88px;
    margin-bottom: 40px;
}

button {
    text-transform: uppercase;
    font-family:  Marcellus;
    width: 188px;
    height: 44px;
    border: 1px solid black;
    background: white;

}
button:hover{
    background: black;
   color: white;
}

 

#Div2 {
    display: none;
  }

  .mark{
      background: white;
      
  }
  h5 {
      display: flex;
      font-family: Marcellus-regular;
   justify-content: center;
   text-transform: uppercase;
   margin-top: 22px;
   margin-bottom: 14px;
  }

  .enq-form{
      display: grid;
      grid-template-columns: repeat(2, 4fr);
      margin-bottom: 22px;
  }
.enq-form1{
 
    margin-left: 44%;
}
.enq-form2{
 
    margin-left: 2%;
}

//   FormStyle
#form {
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }
  .message{
      display: flex;
      margin: 0 0 1rem 0;
      height: 110px;
      width: 77%;
  }
  

  input {
    width: 88%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
    height: 42px;
  }

 
  input {
    border: 1px solid #aaa;
    border-radius: 2px;
  }
  
  textarea{
      width: 66% !important;
      border: 1px solid #aaa;
  }

// EndFormStyle
::placeholder{
    font-family: Akkurat-Light;
}

// ScrollAn

.clearfix{
    scroll-behavior: smooth;
    
}
// EndScrollUp

@media only screen 
and (max-width : 768px) {

   .banner-image  {
       height: 255px !important;
       object-fit: cover;
   }
  }



  // ALERTBOXSTYLE
.thnk{
    font-family: Marcelles;
    color: #deb075 !important;
}

.modal{
    padding-top: 15% !important;
     
  // background: url('https://media.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif');
opacity: .7;
}
  
.ok {
	border: 1px solid #deb075;
	color: #deb075;
	width: 88px;
	height: 33px;
	background: #ffffff;
}
// END ALERT STYLE

@media only screen 
and (min-width : 1920px) {

.form-field{
margin-right: -55px;
}

}

button{
    font-family: Akkurat !important;
}

.sub-bt{
    background: #000000 !important;
    color: #ffffff !important;
}


.sub-bt:hover{
    background: #ffffff !important;
    color: #000000 !important;
}