<div class="view">
  <img
  class="banner-image original-size" 
    src="assets/hyattplaza-images/Aboutus/Gr127.png"
    
    style="width:100%;"
  />
  <div class="mask flex-center rgba-black-light">
    <h1 class="con white-text">About us</h1>
  </div>


  <div  mdbScrollSpyElement="scrollspy" id="fixclear"  class="clearfix"></div>
 
</div>
 

<div id="Div1" class="abt-info">
  <p class="fnt" id="privacy"></p>
</div>
 <div   id="Div2" class="mark">
  <h5>Marketing</h5>
  <p class="fnt" id="marketing_des"></p>
  <h5>Enquire now</h5>
  <form #marketingForm="ngForm" (ngSubmit)="submitForm(marketingForm.value)">
    <div class="enq-form">
      <div class="enq-form1">
        <div class="form-field">
          <input ngModel
            type="text"
            name="name"
            id="full-name"
            placeholder="FULL NAME"
            required
          />
        </div>
        <div class="form-field">
          <input ngModel
            type="email"
            name="email"
            id="email-input"
            placeholder="EMAIL"
            required
          />
        </div>
        <div class="form-field">
          <input ngModel
            type="number"
            name="mobile"
            id="phone-number"
            placeholder="PHONE NUMBER"
            required
          />
        </div>
      </div>
      <div class="enq-form2">
        <div class="message">
          <textarea ngModel
            type=""
            name="message"
            id="email-input"
            placeholder="MESSAGE"
            required
          ></textarea>
        </div>

        <div class="submit-bt">
          <button class="sub-bt" type="submit" (click)="basicModal.show()">SUBMIT</button>
        </div>
      </div>
    </div>
  </form>
 </div>
<!--  -->

 <div class="history">
    <app-history></app-history>
    
</div>  

<div class="mark-leas">
  <div class="marketing">
    <h4>marketing</h4>
    <p id="marketing"></p>
  
    <!-- <button mdbScrollSpy="scrollspy"8  mdbScrollSpyLink="fixclear" id="Button1" value="Click" (click)="switchVisible()"> -->
          <button mdbScrollSpy="scrollspy"  mdbScrollSpyLink="fixclear" id="Button1" value="Click" (click)="switchVisible()">  
 
      Contact us
    </button>
   
  </div>

  <div class="leasing">
    <h4>Leasing enquires</h4>
    <p id="leasing"></p>
   <a routerLink="/leasing">
      <button>contact us</button>
   </a>  
  </div>
</div>




  <!-- ALERT DIVISION -->
 
  <div 
  mdbModal  
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div id="req-form"> 
      <div class="modal-body">
        
          <form  id="myForm" >
  
  
        <!-- <form > -->
      <div class="modal-body" >
  
            <h4 class="thnk" style="text-align:center;">Thank you!</h4>
            <p class="thnk" style="text-align:center;">Your submission has been successfully received</p>
     
     
        </div>  
  <div style="text-align:center;">
        <button class="ok" onClick="window.location.reload()">
           OK
        </button>  
      </div>
        </form>
  
       
      </div>
    </div> 
    </div>
  </div>
  </div>
  
  
  <!-- ALERT END -->