<div class="page-banner">
  <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
<img src="assets/hyattplaza-images/banner1.jpg" class="banner-image original-size"  >  

  <div class="banner-box-shadow">
    <div class="banner-title">
ABOUT US
    </div>
  </div>
   
</div>
     <!-- Top Content -->
     <section id="top-content" class="align-style">
      <div class="container">
         <div class="row">
     <div class="col-md-12">
       <br>
       <p>
       du Eos at Dolores Eirmod sed ea amet lorem lorem elitr erat at dolor eos. Ut stet sea consetetur lorem et. Aliquyam diam et labore dolore sea magna. Dolores at ea diam gubergren diam, kasd vero kasd clita gubergren accusam et stet sea. Sed
       </p>
     </div>
         </div>
      </div>
   </section>
   <!-- History Section -->
   <section id="history">
      <div class="container">
         <div class="row" class="align-style">
     <div class="col-md-12 p-0">
       <div class="vip-card-title mt-5 mb-5">
         <br>
         <h2>HISTORY</h2>
       </div>
     </div>
     <div class="col-md-12">
               <!-- Nav tabs -->
               <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link active" id="home-tab" (click)="tabToggle(1)" role="tab" aria-controls="home" aria-selected="true">2011</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="profile-tab" (click)="tabToggle(2)" role="tab" aria-controls="profile" aria-selected="false">2014</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="messages-tab" (click)="tabToggle(3)" role="tab" aria-controls="messages" aria-selected="false">2017</a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane active" *ngIf="showTab == 1" id="home" role="tabpanel" aria-labelledby="home-tab">
                     <div class="col">
                        <div class="row">
                           <div class="col-md-5 p-0">
                              <p>Pellentesque eleifend commodo nibh eu tempus. Praesent molestie, augue vitae pulvinar efficitur, augue ipsum maximus turpis, in fringilla elit justo non leo. Nam tempor, justo ac semper rhoncus, leo metus bibendum sem, eget porttitor velit enim tempus neque. Praesent sed condimentum augue. Etiam nec lectus egestas, eleifend risus at, tempus ipsum. Quisque sit amet mollis odio, eget condimentum odio. Ut quis lorem nibh.</p>
                           </div>
                           <div class="col-md-2"></div>
                           <div class="col-md-5">
                              <img src="assets/hyattplaza-images/banner1.jpg" class="img-fluid" alt="Responsive image">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" *ngIf="showTab == 2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                     <div class="col">
                        <div class="row">
                           <div class="col-md-5 p-0">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim libero et dolor rhoncus, sit amet commodo justo sagittis. Nulla eu lacus auctor, cursus felis in, tincidunt ligula. Suspendisse at massa nec mauris consectetur iaculis ut non elit. Aliquam quis nunc odio. Proin ac odio vel velit molestie tempus. Pellentesque suscipit risus in commodo facilisis. Suspendisse hendrerit mauris quis massa dictum, a aliquam nibh tincidunt. Nam vel feugiat enim, ac euismod odio. Nam dapibus lacus a congue viverra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec velit blandit, rutrum velit sed, commodo est. Quisque at lorem vitae velit commodo consequat nec tincidunt turpis. Pellentesque vel tortor efficitur, aliquet tellus et, sodales dui.</p>
                           </div>
                           <div class="col-md-2"></div>
                           <div class="col-md-5">
                              <img src="assets/hyattplaza-images/banner1.jpg" class="img-fluid" alt="Responsive image">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" *ngIf="showTab == 3" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                     <div class="col">
                        <div class="row">
                           <div class="col-md-5 p-0">
                              <p>Nullam ut vulputate lorem. Donec maximus egestas leo id convallis. Nullam posuere consectetur augue et interdum. Duis eu venenatis risus, eu convallis lectus. Cras massa ex, laoreet ac tellus eu, bibendum posuere dui. Integer commodo molestie metus, et venenatis nisl mattis a. Aliquam non ante vel erat condimentum bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sagittis tristique est, vitae dignissim odio eleifend sit amet. Curabitur convallis magna vel convallis porttitor. Sed tempus dui id ligula sodales fermentum non quis quam.</p>
                           </div>
                           <div class="col-md-2"></div>
                           <div class="col-md-5">
                              <img src="assets/hyattplaza-images/banner1.jpg" class="img-fluid" alt="Responsive image">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Contact Section -->
   <section id="contact-info" class="align-style">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <p class="lead">MARKETING</p>
               <p>
                  du sanken nicht schon herzen gedanken. Da und der du perlet verschwiegen nebelferne. Du sie dahinten in warum ort deine bist nun, schaust des werden du deinen die deiner gestehe, du helle gar sonder geliebet klingt nicht. Denkst zürnen hab 
               </p>
               <button class="vip-button">CONTACT US
               </button>
            </div>
            <div class="col-md-4 offset-md-4 justify-content-end">
               <p class="lead">LEASING ENQUIRES</p>
               <p>
                  du sanken nicht schon herzen gedanken. Da und der du perlet verschwiegen nebelferne. Du sie dahinten in warum ort deine bist nun, schaust des werden du deinen die deiner gestehe, du helle gar sonder geliebet klingt nicht. Denkst zürnen hab 
               </p>
               <button class="vip-button">CONTACT US
               </button>
            </div>
         </div>
      </div>
   </section>
   <br>