<div class="page-banner">
   <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
   <img [src]="banner"  class="banner-image original-size">

   <div class="banner-box-shadow">
      <div class="banner-title">
         {{pageTitle}}
      </div>
   </div>

</div>
<br>


<!-- Top Content -->
<!-- <section id="top-content" class="align-style">
      <div class="container">
         <div class="row">
     <div class="col-md-12">
       <br>
       <p>
       du Eos at Dolores Eirmod sed ea amet lorem lorem elitr erat at dolor eos. Ut stet sea consetetur lorem et. Aliquyam diam et labore dolore sea magna. Dolores at ea diam gubergren diam, kasd vero kasd clita gubergren accusam et stet sea. Sed
       </p>
     </div>
         </div>
      </div>
   </section> -->
<!-- HIDE SECTION WITH FORM -->
<div id="Div1" class="abt-info align-style">
   <p class="text ">{{content.content}}</p>
</div>
<div id="Div2" class="mark align-style">
   <h5>Marketing</h5>


   <p class=text>
      du sanken nicht schon herzen gedanken. Da und der du perlet verschwiegen nebelferne. Du sie dahinten in warum ort
      deine bist nun, schaust des werden du deinen die deiner gestehe, du helle gar sonder geliebet klingt nicht. Denkst
      zürnen hab
   </p>

   <h5>Enquire now</h5>
   <form>
      <div class="enq-form">
         <div class="enq-form1">
            <div class="form-field">
               <input ngModel type="text" name="name" id="full-name" placeholder="FULL NAME" required />
            </div>
            <div class="form-field">
               <input ngModel type="email" name="email" id="email-input" placeholder="EMAIL" required />
            </div>
            <div class="form-field">
               <input ngModel type="number" name="mobile" id="phone-number" placeholder="PHONE NUMBER" required />
            </div>
         </div>
         <div class="enq-form2">
            <div class="message">
               <textarea ngModel type="" name="message" id="email-input" placeholder="MESSAGE" required></textarea>
            </div>

            <div class="submit-bt">
               <button class="button-common-style" type="submit">SUBMIT</button>
            </div>
         </div>
      </div>
   </form>
</div>
<!-- END HIDE -->
<!-- History Section -->
<section id="history" class="font-Akkurat">
   <div class="container">
      <div class="row" class="align-style">
         <div class="col-md-12 p-0">
            <div class="vip-card-title mt-5 mb-5">
               <br>
               <h2 class="font-marcellus">HISTORY</h2>
            </div>
         </div>
         <div class="col-md-12">
            <div class="round one" (click)="slickModal.slickGoTo(1)"><span>{{history[0].year}}</span></div>
            <div class="round two" (click)="slickModal.slickGoTo(2)"><span>{{history[1].year}}</span></div>
            <div class="round three" (click)="slickModal.slickGoTo(3)"><span>{{history[2].year}}</span></div>
            <div style="clear: both;"></div>
            <div class="categories-slider mob-hide">
               <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                  
                  <div ngxSlickItem class="slide record" *ngFor="let item of history">
                     <div class="col">
                        <div class="row">
                           <div class="col-md-5 p-0">
                              <p class="text">{{item.description}}</p>
                           </div>
                           <div class="col-md-2"></div>
                           <div class="col-md-5">
                              <img [src]="item.cover" class="img-fluid" alt="Responsive image">
                           </div>
                        </div>
                     </div>
                  </div>
               </ngx-slick>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Contact Section -->
<section id="contact-info" class="align-style">
   <div class="container">
      <div class="row">
         <div class="col-md-5">
            <p class="lead title">MARKETING</p>
            <p>
               {{marketing.content}}
            </p>
            <button class="vip-button " (click)="switchVisible()" mdbScrollSpy="scrollspy">CONTACT US
            </button>
         </div>
         <div class="col-md-5 offset-md-2 justify-content-end">
            <p class="lead title">LEASING ENQUIRES</p>
            <p class="text">
               {{leasingInfoData.content}}
            </p>
            <button class="vip-button" [routerLink]="['/leasing']" routerLinkActive="router-link-active" >CONTACT US
            </button>
         </div>
      </div>
   </div>
</section>
<br>