<div class="page-banner">
  <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
<img src="assets/hyattplaza-images/blog/banner.png" class="banner-image" style="width:100%;" >  

  <div class="banner-box-shadow">
    <div class="banner-title">
    ALL OFFERS
    </div>
  </div>
   
</div>

<div class="stay-up">
  <div class="item">
 
        <h4 style="text-align:center;" >Stay Updated</h4>
        <p class="tag">{{update[0].tag}}</p>
 
        <div style="text-align:center;" class="subscription-box">
            <input type="text" name="email" placeholder="Enter email" class="subscription">
            <input type="button" name="subscribe" class="subscribe-button" value="Subscribe">
          </div>
  </div>
</div>


<h5 style="text-align:center;">EXPIRED OFFERS</h5>
 
<div class="blog-des">
  <div class="blog-des-img1 ">
    <div class="item">
    <img  class="fx-h"  src="{{expired_blogs[0].img}}"  style="width:100%;">
    <div class="text-block">
      <p  class="p" style="text-align:center;">Lorem Ipsum</p>    
        </div>
</div>
   
    <p><b>{{expired_blogs[0].time}}</b> </p>
    <hr/>
    <p class="des">{{expired_blogs[0].des}}  <a>[Read More]</a></p>

  </div>
  <div class="blog-des-img2 ">
    <div class="item"> 
      <img  class="fx-h"  src="{{expired_blogs[1].img}}"  style="width:100%;">
      <div class="text-block">
          <p  class="p" style="text-align:center;">Lorem Ipsum</p>    
            </div>
    </div>
      
      <p><b>{{expired_blogs[1].time}}</b> </p>
      <hr/>
      <p class="des">{{expired_blogs[1].des}}  <a>[Read More]</a></p>
  </div>
  <div class="blog-des-img3 ">
    <div class="item">
      <img   class="fx-h" src="{{expired_blogs[2].img}}"  style="width:100%;">
      <div class="text-block">
          <p  class="p" style="text-align:center;">Lorem Ipsum</p>    
            </div>
    </div>
      <p><b>{{expired_blogs[2].time}}</b> </p>
      <hr/>
      <p class="des">{{expired_blogs[2].des}}  <a>[Read More]</a></p>
  </div>
  <div class="blog-des-img4 ">
    <div class="item">
      <img class="fx-h" src="{{expired_blogs[3].img}}" style="width:100%;">
      <div class="text-block">
          <p  class="p" style="text-align:center;">Lorem Ipsum</p>    
            </div>
    </div>
      <p><b>{{expired_blogs[3].time}}</b> </p>
      <hr/>
      <p class="des">{{expired_blogs[3].des}}  <a>[Read More]</a></p>
  </div>
  <div class="blog-des-img5 ">
    <div class="item">
      <img  class="fx-h"  src="{{expired_blogs[4].img}}" style="width:100%;">
      <div class="text-block">
          <p  class="p" style="text-align:center;">Lorem Ipsum</p>    
            </div>
    </div>
      <p><b>{{expired_blogs[4].time}}</b> </p>
      <hr/>
      <p class="des">{{expired_blogs[4].des}}  <a>[Read More]</a></p>
  </div>
  <div class="blog-des-img6 ">
    <div class="item">
      <img  class="fx-h"  src="{{expired_blogs[5].img}}" style="width:100%;">
      <div class="text-block">
          <p  class="p" style="text-align:center;">Lorem Ipsum</p>    
            </div>
    </div>
      <p><b>{{expired_blogs[5].time}}</b> </p>
      <hr/>
      <p class="des">{{expired_blogs[5].des}}  <a>[Read More]</a></p>

  </div>

</div>
