.view{
    //margin-top: -112px;
}

.voucher-del{
    display: grid;
    grid-template-columns: repeat(2, 3fr );
    grid-template-rows: 4fr;
}
h1{
    text-transform: uppercase;
    font-family: Marcellus;

}
a{
    color: white;
}

.gif{
    height: 350px;
    width:500px;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: 44px;
}

.gif-del{
    margin-right: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.online{
    height: 33px;
    width: 158px;
    border: 1px solid black;
    color:white;
    background: black;
}
.cs-on{
    margin-top: 2px;
  margin-left: 15px;
}

 
h5{
    margin-left: 44px;
    font-weight:400;
    font-family: Akkurat;

}



// NEW CLASS
.store-list{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap:6px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;

}



// TEXTBLOCK
.item {
    position: relative;
  }
.text-block {
    position: absolute;
    bottom: 0;
    //right: 20px;
    background-color: black;
    opacity: .6;
    color: white;
    width: 100%;
    height: 22%;
    //padding-left: 20px;
   // padding-right: 20px;
  }

  .hd{
      margin-top:2%;
  }


   
@media only screen 
and (max-width : 768px) { 
    .gif {
        height: 166px !important;
        width: 66% !important;
    }
}

@media only screen 
and (min-width : 1920px) {

    .gif-del {
        margin-right: 70px !important; 
        margin-top: 41px !important;
        margin-bottom: 33px !important;
        margin-left: -122px !important;
    }

    .gif {
        height: 400px !important;
        width: 635px  !important;
        margin-top: 44px !important ;
        margin-bottom: 44px  !important;
        margin-left: 102px  !important;
    }

    h5 {
        margin-left: 96px !important;
        font-weight: 400 !important;
        margin-top: 22px !important;
        margin-bottom: 22px !important;
    }

    .hd {
        padding-top: 3%;
    }

}

@media only screen 
and (min-width : 1440px) {

    .gif {
        height: 350px;
        width: 500px;
        margin-top: 44px;
        margin-bottom: 44px;
        margin-left: 73px;
    }
    .gif-del{
        margin-right: 30px;
        margin-top: 40px;
        margin-bottom: 33px;
        margin-left: -52px;
    }
    h5 {
        margin-left: 67px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hd{
        padding-top:3%;
    }
}

.hd{
    font-family: Marcellus !important;
font-size: 13px !important;
}


@media only screen 
and (min-width : 1920px) {
.hd{
    font-size: 20px !important;
}
}