

    //   NEW UPDATE STYLE 14-3-2019

    .page-banner {
        display: block;
        position: relative;
        .banner-image {
            width: 100%;
            max-height: 525px !important;
            height: auto;
        }
        .banner-box-shadow {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          //  background-image: url('/assets/icons/Rectangle_137-page.png');
          background-image: url('http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/icons/Rectangle_137.png');
           
          background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .banner-title {
                text-align: center;
                color: #ffffff;
                font-family: Marcellus;
                font-size: 38px;
                font-weight: 400;
                text-transform: uppercase;
                justify-content: center;
                max-width: 50%;
            }
        }
    }
    
    // Title Para
    .ev{
        font-family: Marcellus;
        text-align: center;
        margin: 11px 0 11px 0;


}

    // StoriesIMAGE
    .stories-images {
        margin:1px 0 0 0;
        width:100%;
        text-align: center;
    
        .stories-title {
            color: #000000;
            font-family: Marcellus;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        img {
            width: 100%;
            height: 100%;
        }
        .col-5, .col-7 {
            padding:0px;
            border:1px solid #ffffff;
        }
        .row {
            margin:0px;
        }
    }
    
    
    
    .stories-image-content {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height: 100%;
    
        .image-caption {
            text-align: left;
            text-align: left;
            display: flex;
            align-items: center;
            height: 100%;    
            .ev-tag {
                color: #ffffff;
                font-family: Marcellus;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .ev-title {
                color: #ffffff;
                font-family: Marcellus;
                font-size: 42px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 1;
            }
            
        }
    
    
    .ev-image-caption-small {
        display: inline-block;
        padding-left: 88px !important;
         margin-top: 160px !important;
    }
    .ev-image-caption-large{
        display: inline-block;
        padding-left: 88px !important;
        margin-top: 160px !important;
         
     }
        
     
    }
    
    //  IMAGECAPTION
     
    
    
    
      // IPAD MEDIA SCREEN
    
      @media only screen 
      and (max-width : 768px) {
    .banner-image{
        height: 333px !important;
    }
    
        
        .col-7[_ngcontent-c3] {
            height:323px !important;
        }
    
         
    
        // EVENTCPY
          // IPAD MEDIA SCREEN
    
          @media only screen 
          and (max-width : 768px) {
    
            //  Title
            .ev {
                font-size: 15px;
            }
            
            .stories-image-content{
            .ev-image-caption-small {
                display: inline-block;
                padding-left: 55px !important;
                 margin-top: 16px !important;
            }
            .ev-image-caption-large{
                display: inline-block;
                padding-left: 55px !important;
                margin-top: 16px !important;
                 
             }
             .image-caption {
    
                .ev-tag{
                   font-size: 11px !important;
                 }
                 .ev-title{
                   font-size: 33px !important;
                 }
                  
               }
       
            
    
            }
     
           
          }
        
         
        // ENDCPY
    
    
      }

      .blk-btn {
        margin: 16px;
        width: 180px;
          height: 40px;
          border: 1px solid black;
          color: #000000;

    }
    
    
      @media screen and (min-width: 1400px) {
    
        .ev-image-caption-small,  .ev-image-caption-large {
    
            margin-top: 33% !important;
             
    
        }
    
        
    
     
    
       }

       @media only screen 
       and (max-width : 768px) {
 
          .banner-image  {
              height: 252px !important;
              object-fit: cover;
          }
         }
 