<div class="page-banner" *ngIf="pageBannerLoaded">
  <img src="{{ (pageBannerLoaded ? pageBanner.cover : '') }}" class="banner-image">
  <div class="banner-box-shadow">
    <div class="banner-title">
      {{ (pageBannerLoaded ? pageBanner.title: '') }}
    </div>
  </div>
</div>


<div class="ft-bl" style="text-align:center">
  <h4 class="hed-tp">FEATURED BLOG</h4>
</div>

<div class="feature-blog-img" *ngIf="featuredBlogs">
  <div class="fet-img1" *ngIf="featuredBlogs[0]">
    <div class="hero-header">
      <a [routerLink] = "['detail',featuredBlogs[0].id]"> <img src="{{featuredBlogs[0].image}}" style="width:100%;"></a>
      <div class="hero-centered">
        <p class="bl-des">{{featuredBlogs[0].description}}</p>
      </div>
    </div>
  </div>
  <div class="fet-img2" *ngIf="featuredBlogs[1]">
    <div class="hero-header">
      <a [routerLink] = "['detail',featuredBlogs[1].id]"> <img src="{{featuredBlogs[1].image}}" style="width:100%;"> </a>
      <div class="hero-centered">
        <p class="bl-des">{{featuredBlogs[1].description}}</p>
      </div>
    </div>
  </div>
</div>


<div class="margin-align" *ngIf="blogListsLoaded && blogLists">
  <div class="blog-des">
    <div class="blog-des-img1 " *ngFor="let blog of blogLists ">
      <div class="item">
        <img class="fx-h" src="{{blog.image}}" style="width:100%;" [routerLink] = "['detail', blog.id]">
        <div class="text-block">
          <p class="p" style="text-align:center;">{{blog.title}}</p>
        </div>
      </div>
      <p><b>{{blog.posted}}</b> </p>
      <hr />
      <p class="des"> {{blog.description}}</p>

    </div>
  </div>

</div>