h4{
    font-family: Marcellus-Regular;
}

.wrapper{
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
}

.tabs{
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
    transform: translateY(5px);
   //border: 1px solid black;
   
	
	>li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
	//	padding: 20px 20px 25px 20px;
	padding: 10px 20px 13px 20px;
	position: relative;
		overflow: hidden;
		cursor: pointer;
        color: #000000;
		border-top: 1px solid #aaa !important;
		border-left: 1px solid #aaa !important;
		border-bottom: 1px solid #aaa !important;
		
		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: #f2f2f2;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}
		
		// &:hover{
		// 	&:before{
		// 		 border-bottom: 1px solid black;
		// 	}
		// }
		
		&.active{
			color: #000000;
			border-bottom:0px !important;
			
			&:before{
				transition-duration: .5s;
				background-color: #f2f2f2;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
	>li:last-child{
		border-right: 1px solid #aaa !important;
	}
}

ul{
    margin-bottom: 0;
}
ul.tabs{
    margin-left: 0px;
    padding:0;
}
.tab__content{
	background-color: #f2f2f2;
	position: relative;
	width: 100%;
	margin-top: 5px; 
	//border-radius: 5px;
	
	>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		display: none;
		list-style: none;
		
		.content__wrapper{
			text-align: center;
			//border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: #f2f2f2;
		}
	}
}

.content__wrapper{
	h2{
		width: 100%;
		text-align: center;
		//padding-bottom: 20px;
		font-weight: 300;
	}
	
	img{
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.colors{
	text-align: center;
	padding-top: 20px;
	
	>li{
		list-style: none;
		width: 50px;
		height: 50px;
		//border-radius: 50%;
		//border-bottom: 5px solid rgba(0, 0, 0, .1);
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
		
		&:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 10px solid rgba(0, 0, 0, .15);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
		}
		
		// &.active-color{
		// 	-webkit-transform: scale(1.2) translateY(-10px);
		// 	transform: scale(1.2) translateY(-10px);
		// 	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
		// 	border-bottom: 20px solid rgba(0, 0, 0, .15);
		// }
		
	 
	
	}
}


// MYCusStyle
// dropdown

select {
    display: inline-block !important;
    width: 188px;
    border: 1px solid;
	border-radius: inherit;
	height: 28px;
}
option {
	border: 1px solid black;
}
// EndDropDown

// FormLeasing1

.form-sep{
    margin-left:20px ;
    margin-top: 10%;
}

// FormStyle
#form {
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }
 
  label {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
  }

  label {
      display: inline;
    text-align: left;
    margin-left: -39px;
 
    // width: 30%;
  }
  input {
    border: 1px solid #5c707b;
    border-radius: 2px;
    height: 40px;
  }
  
  .brnd{
      text-align: left;
      margin-bottom: 11px;
      margin-left:-32px;

  }

//   .file{
//       width: 100px;
//       margin-left: -298px;
//       background: #ffffff;
//   }

//   input.file{
//       display: flex;
//       font-size: 14px;
//       justify-content: center;
      
//   }

  .fran{
 
	  width:30%;
	  margin-right: 36%;
  }
// EndForm


.btns{
    display: flex;
justify-content: center;
}

.tnt-btn{
 
    border: 1px solid black;
   
 width: 130px;
    height: 35px;
    background: white !important;


}
button.tnt-btn2{
 
    border: 1px solid black;
    margin-left: 10px;
   
 width: 130px;
    height: 35px;
    // background: black !important;
    // background-color: #ffffff !important;

}

.form-sep2{
    margin-left: 98px;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 2%;
}
.tnt-btn3{
    border: 1px solid black;
    height: 35px;
    width: 188px;
    background: #000000;
 color: #ffffff;
 font-family: Marcellus;
 font-size: 14px;
}
.dwn{
    display: flex;
	justify-content: center;
	font-family: Akkurat !important; 
}
.tnt-btn2, .tnt-btn{
	font-family: Marcellus;
}


// WrapperBorder
.content__wrapper{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

 

// NEWDROPDOWN

 
//Custom FileStyle

.file-custom{
	//width:222px;
	border: 1px solid #aaa;
}

.tnt-btn:hover {

	background: #000000 !important;
	//background-color: #ffffff !important;
	color: #ffffff;
	 
}

#anj {
	display: none;
}
#precious {
	display: none;
 
}

.file-custom {
	width: 221px !important;
    margin-left: 17px !important;
}

.disabled {
	color: #aaa !important;
	border-color: #aaa !important;
}


// ALERTBOXSTYLE
.thnk{
    font-family: Marcelles;
    color: #deb075 !important;
}

.modal{
    padding-top: 15% !important;
     
  // background: url('https://media.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif');
opacity: .7;
}
  
.ok {
	border: 1px solid #deb075;
	color: #deb075;
	width: 88px;
	height: 33px;
	background: #ffffff;
}
// END ALERT STYLE

.slect{
    border: 1px solid black;
    width: 100%;
background: #ffffff !important;
height: 40px;
}
.tabs{
	font-family: Marcellus;
	text-transform: uppercase;
}

span {
	text-transform: capitalize;
}

.tnt-btn2{
	background: #000000 !important;

	color: #ffffff !important;
}
.tnt-btn2:hover{
	background: #ffffff !important;
	color:#000000 !important;
}

 .fix-align  {
     padding-left: 5% !important;
     padding-right: 5% !important;
 }