  
   <div class="page-banner">
      <img src="assets/hyattplaza-images/Leasing/leas-ban.png" class="banner-image original-size" >  
     
       <div class="banner-box-shadow">
         <div class="banner-title">
         Leasing
         </div>
       </div>
        
     </div>
   


 
<div class="margin">
<div class="tentant-login">
    <button class="tnt-btn  text-center" size="lg" >TENANT LOGIN</button>

</div>
<hr />
<div class="tent-par">
 <p id="terms"></p>
</div>
<div class="sep-button">
   <app-taps></app-taps>

</div>
<br>
<h4>For further information please contact:</h4>
<div class="cont">
  <div class="cont1">
    <p>Fuad Shaqadan
      <br>Leasing and Marketing Manager
      <br>Phone:44999689 
      <br>fuad@hyattplaza.com 
    </p>

  </div>
  <div class="cont2"> 
    <p class="cont2-par">
     Cecilia Prado
      <br>Senior Leasing
      <br>Phone:44999689 
      <br>Cecilia@hyattplaza.com 
      </p>
    </div>
    
</div>

</div>



 