@font-face {
    font-family: Akkurat-Light;
    src: url('../home/Akkurat-Light.ttf');
} 

@font-face {
    font-family: Marcellus-Regular;
    src:url('../home/Marcellus-Regular.ttf');
}



.page-banner {
    display: block;
    position: relative;
    .banner-image {
        width: 100%;
       // height: 525px !important;
        // height: auto;
    }
    .banner-box-shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
       // background-image: url('/assets/icons/Rectangle_137-page.png');
   background-image: url('http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/icons/Rectangle_137.png');
       
       background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .banner-title {
            text-align: center;
            color: #ffffff;
            font-family: Marcellus;
            font-size: 38px;
            font-weight: 400;
            text-transform: uppercase;
            justify-content: center;
            max-width: 50%;
            
        }
    }
}




// h1{
//     font-family: Marcellus-Regular;
//     margin-top: 100px;
//     text-transform: uppercase;
    
// }
 

.terms{
    margin-top: 44px;
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 3%;
    font-family: Marcellus-Regular;


}

 
// Button
.tentant-login{
    display: flex;
    justify-content: center;
    margin-top: 45px !important;
    margin-bottom: 45px;
    font-family: Marcellus;
}
.tnt-btn{
 
    border: 1px solid black;
 width: 188px;
    height: 44px;
    background: transparent;

}



// Margin
.margin{
    margin-top:3%;
    margin-right:4%;
    margin-left: 4%;
    margin-bottom: 2%;
}


// ContactInfo
.info-par{
    margin-top: 22px;
}


.cont{
    display:grid;
    grid-template-columns: repeat(2, 2fr 3fr  );
    grid-template-rows: 150px;
    

}
.cont2{
    margin-top:10px;
    margin-right: 3px;
    padding-right: 10px;
  
}
.cont2-par{
    margin-right: 10px;
}
.cont1{
    margin-top: 10px;
    border-right: 1px solid #aaaaaa;
    height: 111px !important;
    margin-left: 3% !important;
}
.cont2{
    margin-top: 10px;
   // border-left: 1px solid black;
    margin-left: 20px;
    
}


 

@media only screen 
and (max-width : 768px) { 
.banner-image {
    height: 255px !important;
    object-fit: cover;
}

}
h4{
    font-family: Marcellus;
}