<div class="page-banner">
  <img [src]="banner" class="banner-image" />
  <div class="banner-box-shadow">
    <div class="banner-title">
      {{ pageTitle }}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 vip-card-title mt-5 mb-4">
        <button class="vip-button">TENANT LOGIN
              </button>
    </div>
  </div>
  <hr class="row"/>
  <div class="row">
    <p>Sea labore lorem erat dolor et sadipscing diam sed amet sit. Clita ea lorem lorem eos elitr dolores et, sea ea ipsum diam sed sadipscing, diam tempor sanctus et diam, est takimata dolore at ipsum sadipscing et gubergren. Clita takimata amet sanctus consetetur erat, voluptua kasd sit est est dolor invidunt aliquyam et sea. Et labore sanctus dolore sed invidunt, et at labore dolore lorem ipsum duo est kasd voluptua. Ea lorem consetetur justo diam vero magna duo est. Ut diam clita sit sanctus accusam voluptua ipsum dolores. Accusam invidunt magna magna sed. Et et labore sed voluptua invidunt consetetur.</p>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="col-md-12">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="custom-tab nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">LEASING
            <br/>(Click here to apply for a space)</a>
          </li>
          <li class="custom-tab nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">	ADVERTISING <br> (Click here for the details)</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="col">
              <div class="row">
                ...
              </div>
            </div>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col">
              <div class="row">
                .....
              </div>
            </div>
          </div>
        </div>



        <ngb-tabset [justify]="currentJustify">
          <ngb-tab title="Simple">
            <ng-template ngbTabContent>
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
              dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
              craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
              cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
              yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
              shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
              sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0">
      <h3>For further information please contact</h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 post-line-v">
          Fuad Shaqadan<br/>
          Leasing and Marketing Manager<br/>
          Phone:44999689<br/>
          fuad@hyattplaza.com<br/>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Cecilia Prado<br/>
          Senior Leasing<br/>
          Phone:44999689<br/>
          Cecilia@hyattplaza.com<br/>
        </div>
      </div>
    </div>
  </div>
</div>