<div class="page-banner  ">
    <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
  <img src="assets/hyattplaza-images/dining/ban.png" class="banner-image original-size ">  
  
    <div class="banner-box-shadow"> 
      <div class="banner-title">
      DINING
      </div>
    </div>
    <div class="banner-search">
      <div class="search-boxes">
        <select class="search-select" name="category">
          <option value="0">Select Category</option>
        </select>
        <input type="text" class="search-text" name="search">
        <div class='search-button view overlay zoom'>
          <img src="assets/icons/search.png">
        </div>
      </div>
    </div>
  </div>


 
  <div class="categories container">
    <div class="categories-title">
     DINING CATEGORIES
    </div>
     
    <div class="categories-slider item-overlay">
      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let category of categories" class="slide record">
          <img [src]="category.image" class="category-image" routerLink="/dining/dining_list">
  
          
          <!-- <div class="category-title">
              {{category.title}}
            </div> -->

            <div class="text-block">
                <p style="text-align:center;">{{category.title}}</p>  
                    </div>



        </div>
      </ngx-slick>
    </div>
  
  </div>
  <div class="stories-images container">
    <div class="stories-title">
      FEATURED RESTAURANTS
    </div>
    <div class="row">
      <div class="col-6">
        <img src="{{restaurants[0].image}}">
        <div class="restaurants-image-content" style="background-image: url('assets/icons/Rectangle_245.png');background-size: cover;">
          <div class="image-caption">
            <div class="image-caption-elarge">
              <p class="tag">{{restaurants[0].tag}}</p>
              <p class="title" innerHTML="{{restaurants[0].title}}"></p>
           <button class="cus-btn  btn-3" type="button" routerLink="/dining/dining_store"  mdbWavesEffect > Learn More</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <img src="{{restaurants[1].image}}">
        <div class="restaurants-image-content" style="background-image: url('assets/icons/Rectangle_244.png');background-size: cover;">
          <div class="image-caption">
            <div class="image-caption-elarge">
              <p class="tag">{{restaurants[1].tag}}</p>
              <p class="title" innerHTML="{{restaurants[0].title}}"></p>
              <button class="cus-btn  btn-3" type="button" routerLink="/dining/dining_store"  mdbWavesEffect > Learn More</button>
 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7 pad-size">
        <img class="res-img ful-wd" src="{{restaurants[2].image}}">
        <div class="restaurants-image-content full-wd" style="background-image: url('assets/icons/Rectangle_242.png');background-size: cover;">
          <div class="image-caption">
            <div class="image-caption-large">
              <p class="tag">{{restaurants[2].tag}}</p>
              <p class="title" innerHTML="{{restaurants[0].title}}"></p>

          <button class="cus-btn  btn-3" type="button" routerLink="/dining/dining_store"  mdbWavesEffect > Learn More</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-5 pad-size">
        <img class="res-img" src="{{restaurants[3].image}}">
        <div class="restaurants-image-content" style="background-image: url('assets/icons/Rectangle_113.png');background-size: cover;">
          <div class="image-caption">
            <div class="image-caption-small">
              <p class="tag">{{restaurants[3].tag}}</p>
              <p class="title" innerHTML="{{restaurants[0].title}}"></p>

          <button class="cus-btn  btn-3" type="button" routerLink="/dining/dining_store"  mdbWavesEffect > Learn More</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 pad-size">
        <img class="res-img" src="{{restaurants[4].image}}">
        <div class="restaurants-image-content" style="background-image: url('assets/icons/Rectangle_140.png');background-size: cover;">
          <div class="image-caption">
            <div class="image-caption-small">
              <p class="tag">{{restaurants[4].tag}}</p>
              <p class="title" innerHTML="{{restaurants[0].title}}"></p>

          <button class="cus-btn  btn-3" type="button" routerLink="/dining/dining_store"  mdbWavesEffect > Learn More</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-7 pad-size">
        <img class="res-img-fill" src="{{restaurants[5].image}}">
        <div class="restaurants-image-content" style="background-image: url('assets/icons/Rectangle_243.png');background-size: cover;">
          <div class="image-caption">
            <div class="image-caption-large">
              <p class="tag">{{restaurants[5].tag}}</p>
              <p class="title" innerHTML="{{restaurants[0].title}}"></p>

          <button class="cus-btn  btn-3" type="button" routerLink="/dining/dining_store"  mdbWavesEffect > Learn More</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>