<div class="page-banner">
  <img src="{{ (pageBannerLoaded ? pageBanner.cover : '') }}" class="banner-image original-size">
  
    <div class="banner-box-shadow">
      <div class="banner-title">
		{{ (pageBannerLoaded ? pageBanner.title: '') }}
      </div>
    </div>
     
  </div>
  
  <div id="myDIV" style="text-align:center;">
    <button class="btn-cs active" id="photo_gallery">
      PHOTO GALLERY
    </button>
    <button class="btn-cs" id="new_section">
      NEWS
    </button>
  </div>
  
  <!-- <div class="gallery" id="img">
    <div class="item item1">
      <img src={{photo_gallery[0].img}} width="100%;">
    </div>
    <div class="item item2">
      <img src={{photo_gallery[1].img}} width="100%;">
    </div>
    <div class="item item3">
      <img src={{photo_gallery[2].img}} width="100%;">
    </div>
    <div class="item item4">
      <img src={{photo_gallery[0].img}} width="100%;">
    </div>
    <div class="item item5">
      <img src={{photo_gallery[1].img}} width="100%;">
    </div>
    <div class="item item6">
      <img src={{photo_gallery[2].img}} width="100%;">
    </div>
    <div class="item item7">
      <img src={{photo_gallery[0].img}} width="100%;">
    </div>
    <div class="item item8">
      <img src={{photo_gallery[1].img}} width="100%;">
    </div>
    <div class="item item9">
      <img src={{photo_gallery[2].img}} width="100%;">
    </div>
  </div> -->
  
  <!-- MDB GALLERY -->
  <div class="grid-col" id="img">
  <div *ngFor="let gallery of photo_gallery" class="item">
      <img
        class="mens_fasion_img"
        src="{{gallery.img}}"
        style="width:100%;"
        routerLink="/media/snow_wonderland"
      />
    
       <div class="text-block">
          
    <p style="text-align:center;">{{gallery.des}}</p>  
     
    
      </div>
       
     
    </div> 
  
  </div>
  <!-- ENDMDB GALLERY -->
  
  <div class="news" id="news">
      <!-- <div class="blog-des">
          <div class="blog-des-img1 ">
            <img  class="fx-h"  src="{{blogs[0].img}}"  style="width:100%;">
            <p><b>{{blogs[0].time}}</b> </p>
            <hr/>
            <p class="des">{{blogs[0].des}} <a> [Read More]</a></p>
        
          </div>
          <div class="blog-des-img2 ">
              <img  class="fx-h"  src="{{blogs[1].img}}"  style="width:100%;" >
              <p><b>{{blogs[1].time}}</b> </p>
              <hr/>
              <p class="des">{{blogs[1].des}}  <a>[Read More]</a></p>
          </div>
          <div class="blog-des-img3 ">
              <img   class="fx-h" src="{{blogs[2].img}}"  style="width:100%;" >
              <p><b>{{blogs[2].time}}</b> </p>
              <hr/>
              <p class="des">{{blogs[2].des}}  <a>[Read More]</a></p>
          </div>
          <div class="blog-des-img4 ">
              <img class="fx-h" src="{{blogs[3].img}}" style="width:100%;" >
              <p><b>{{blogs[3].time}}</b> </p>
              <hr/>
              <p class="des">{{blogs[3].des}}  <a>[Read More]</a></p>
          </div>
          <div class="blog-des-img5 ">
              <img  class="fx-h"  src="{{blogs[4].img}}" style="width:100%;">
              <p><b>{{blogs[4].time}}</b> </p>
              <hr/>
              <p class="des">{{blogs[4].des}}  <a>[Read More]</a></p>
          </div>
          <div class="blog-des-img6 ">
              <img  class="fx-h"  src="{{blogs[5].img}}" style="width:100%;"  >
              <p><b>{{blogs[5].time}}</b> </p>
              <hr/>
              <p class="des">{{blogs[5].des}}  <a>[Read More]</a></p>
        
          </div>
        
        </div>
         -->
  <div class="blog-des">
    <div class="blog-des-img1" *ngFor="let blog of blogs">
      <img class="fx-h" src="{{blog.img}}" style="width:100%" routerLink="/media/media_details">
      <p><b>{{blog.time}}</b> </p>
      <hr class="hr-wid"/>
      <p class="des">{{blog.des}}  <a>[Read More]</a></p>
  
    </div>
  </div>
  
  
  </div>