<div class="page-banner">
  <img src="{{ (pageBannerLoaded ? pageBanner.cover : '') }}" class="banner-image original-size">
  
    <div class="banner-box-shadow">
      <div class="banner-title">
		{{ (pageBannerLoaded ? pageBanner.title: '') }}
      </div>
    </div>
     
  </div>
  
  <div id="myDIV" style="text-align:center;">
    <button [ngClass]="galleryBlock ? 'btn-cs active' : ''"  class="btn-cs" id="photo_gallery" (click)="toggleBlock('gallery-block')">
      PHOTO GALLERY
    </button>
    <button [ngClass]="newsBlock ? 'btn-cs active' : ''"   class="btn-cs" id="new_section" (click)="toggleBlock('news-block')">
      NEWS
    </button>
  </div>
  
  <!-- <div class="gallery" id="img">
    <div class="item item1">
      <img src={{photo_gallery[0].img}} width="100%;">
    </div>
    <div class="item item2">
      <img src={{photo_gallery[1].img}} width="100%;">
    </div>
    <div class="item item3">
      <img src={{photo_gallery[2].img}} width="100%;">
    </div>
    <div class="item item4">
      <img src={{photo_gallery[0].img}} width="100%;">
    </div>
    <div class="item item5">
      <img src={{photo_gallery[1].img}} width="100%;">
    </div>
    <div class="item item6">
      <img src={{photo_gallery[2].img}} width="100%;">
    </div>
    <div class="item item7">
      <img src={{photo_gallery[0].img}} width="100%;">
    </div>
    <div class="item item8">
      <img src={{photo_gallery[1].img}} width="100%;">
    </div>
    <div class="item item9">
      <img src={{photo_gallery[2].img}} width="100%;">
    </div>
  </div> -->
  
  <!-- MDB GALLERY -->
  <div class="grid-col" id="img" *ngIf="galleryDataLoaded && galleryBlock">
  <div *ngFor="let gallery of galleryData.data" class="item">
	 <a class="custom-router-link" [routerLink] = "['media-images', gallery.id]">
      <img
        class="mens_fasion_img"
        src="{{gallery.gallery_image}}"
        style="width:100%;"
	  />   
	  </a> 
       <div class="text-block">          
    		<p style="text-align:center;">{{gallery.title}}</p>
      </div>
    </div>   
  </div>
  <!-- ENDMDB GALLERY -->
  
  <div class="news" id="news" *ngIf="newsBlock && newsDataLoaded">
  <div class="blog-des">
    <div class="blog-des-img1" *ngFor="let news of newsData.data">
      <img class="fx-h" src="{{news.news_image}}" style="width:100%" >
      <p><b>{{news.create_date}}</b> </p>
      <hr class="hr-wid"/>
      <p class="des">{{news.title}}  <a>[Read More]</a></p>
  
    </div>
  </div>
  </div>