 <div class="page-banner">
   <img src="assets/hyattplaza-images/Entertainment/ban.png" class="banner-image original-size" >  
  
    <div class="banner-box-shadow">
      <div class="banner-title">
      ENTERTAINMENT
      </div>
    </div>
     
  </div>

  <div class="stories-images container">
  <div class="row">
      <div class="col-5">
        <img src="{{stories[0].image}}">
        <div class="stories-image-content" style="background-image: url('assets/icons/Rectangle_242.png');background-size: cover;">
          <div class="image-caption">
            <div class="en-image-caption-large">
              <p class="e-tag">{{stories[0].tag}}</p>
              <p class="e-title" innerHTML="{{stories[0].title}}"></p>
              <a routerLink="details_page"> <button class="cus-btn btn-3" type="button"  mdbWavesEffect > Learn More</button>
            </a> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <img src="{{stories[1].image}}">
        <div class="stories-image-content" style="background-image: url('assets/icons/Rectangle_113.png');background-size: cover;">
          <div class="image-caption">
            <div class="en-image-caption-small">
              <p class="e-tag">{{stories[1].tag}}</p>
              <p class="e-title" innerHTML="{{stories[0].title}}"></p>
            <a routerLink="details_page"> 
                <button class="cus-btn btn-3" type="button"  mdbWavesEffect > Learn More</button>

            </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <img src="{{stories[2].image}}">
        <div class="stories-image-content" style="background-image: url('assets/icons/Rectangle_140.png');background-size: cover;">
          <div class="image-caption">
            <div class="en-image-caption-small">
              <p class="e-tag">{{stories[2].tag}}</p>
              <p class="e-title" innerHTML="{{stories[0].title}}"></p>
              <a routerLink="details_page">
                  <button class="cus-btn btn-3" type="button"  mdbWavesEffect > Learn More</button>
              </a> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <img src="{{stories[3].image}}">
        <div class="stories-image-content" style="background-image: url('assets/icons/Rectangle_243.png');background-size: cover;">
          <div class="image-caption">
            <div class="en-image-caption-large">
              <p class="e-tag">{{stories[3].tag}}</p>
              <p class="e-title" innerHTML="{{stories[0].title}}"></p>
              <a routerLink="details_page">
                  <button class="cus-btn btn-3" type="button"  mdbWavesEffect > Learn More</button>
              </a> 
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>  



    