.page-banner {
    display: block;
    position: relative;
    .banner-image {
        width: 100%;
       // height: 525px !important;
        // height: auto;
    }
    .banner-box-shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      //  background-image: url('/assets/icons/Rectangle_137-page.png');
      background-image: url('http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/icons/Rectangle_137.png');
       
      background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .banner-title {
            text-align: center;
            color: #ffffff;
            font-family: Marcellus;
            font-size: 38px;
            font-weight: 400;
            text-transform: uppercase;
            justify-content: center;
            max-width: 50%;
        }
    }
}

// StoriesIMAGE
.stories-images {
    margin:1px 0 0 0;
    width:100%;
    text-align: center;

    .stories-title {
        color: #000000;
        font-family: Marcellus;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .col-5, .col-7 {
        padding:0px;
        border:1px solid #ffffff;
    }
    .row {
        margin:0px;
    }
}



.stories-image-content {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;

    .image-caption {
        text-align: left;
        text-align: left;
        display: flex;
        align-items: center;
        height: 100%;    
        .e-tag {
            color: #ffffff;
            font-family: Marcellus;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .e-title {
            color: #ffffff;
            font-family: Marcellus;
            font-size: 42px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
        }
        .e-link-button {
            width: 260px;
            height: 50px;
            border: 2px solid #ffffff;
            margin-block-end: auto;
            text-align: center;
            padding:10px;
            color: #ffffff;
            font-family: Akkurat;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
        }
    }


.en-image-caption-small {
    display: inline-block;
    padding-left: 88px !important;
     margin-top: 160px !important;
}
.en-image-caption-large{
    display: inline-block;
    padding-left: 88px !important;
    margin-top: 160px !important;
     
 }
    
 
}

//  IMAGECAPTION
 



  // IPAD MEDIA SCREEN

  @media only screen 
  and (max-width : 768px) {
// 

// .banner-image{
// //     height: 333px !important;
// }

    
    .col-7[_ngcontent-c3] {
        height:323px !important;
    }

     

    // EVENTCPY
      // IPAD MEDIA SCREEN

      @media only screen 
      and (max-width : 768px) {
          .banner-image{
              height: 255px !important;
              object-fit: cover !important;
          }

        
        .stories-image-content{
        .en-image-caption-small {
            display: inline-block;
            padding-left: 55px !important;
             margin-top: 16px !important;
        }
        .en-image-caption-large{
            display: inline-block;
            padding-left: 55px !important;
            margin-top: 16px !important;
             
         }
         .image-caption {

            .e-tag{
               font-size: 11px !important;
             }
             .e-title{
               font-size: 33px !important;
             }
             div.e-link-button{
               width:100px !important;
               height: 33px !important;
               font-size: 9px !important;
               justify-content: center !important;
               border: 1px solid white !important;
     
             }
           }
   
        

        }
 
       
      }
    
     
    // ENDCPY


  }


  @media screen and (min-width: 1400px) {

    .en-image-caption-small,  .en-image-caption-large {

        margin-top: 33% !important;
         

    }

    

 

   }