<section class="cd-horizontal-timeline">

  <h3 class="his">History</h3>
    <div class="timeline">
     
      
      <div class="events-wrapper">
        <div class="events">
          <ul>
            <li><a id="dot-01" href="#0" data-date="2000/01/01" class="selected">{{year}}</a></li>
            <li><a id="dot-02" href="#0" data-date="2001/01/01">{{year2}}</a></li>
            <li><a id="dot-03" href="#0" data-date="2002/01/01">{{year3}}</a></li>
 
             </ul>
  
          <span class="filling-line" aria-hidden="true"></span>
        </div> <!-- .events -->
      </div> <!-- .events-wrapper -->
  
      <!-- <ul class="cd-timeline-navigation">
        <li><a href="#0" class="prev inactive">Prev</a></li>
        <li><a href="#0" class="next">Next</a></li>
      </ul> 
       -->

    </div> <!-- .timeline -->
  
    <div class="events-content">
      <ul>
        <li class="selected"  data-date="2000/01/01">
         <div class="his-des">
           <div class="des">
             <p  class="p-des" id="history"></p>
           </div>
           <div class="des-img">
              <img class="img2" src="{{testImage2}}" style="width:100%;" >
             
           </div>
         </div>


        </li>



  
        <li class="card-wrapper" style="background-color: #f2f2f2;" data-date="2001/01/01">
         
          <div class="his-des">
              <div class="des">
                <p  class="p-des" id="history2">
                </p>
              </div>
              <div class="des-img">
                <img class="img2" src="{{testImage}}" style="width:100%;" >
                
              </div>
            </div>


        </li>
  
        <li class="card-wrapper" style="background-color: #f2f2f2;" data-date="2002/01/01">
          <div class="his-des">
              <div class="des">
                <p  class="p-des" id="history3">
                </p>
              </div>
              <div class="des-img">
                  <img class="img2" src="{{testImage}}" style="width:100%;" >
              </div>
            </div> 


        </li>
  
        
       
       
        
      </ul>
    </div> <!-- .events-content -->
  </section>
  
  <script src="js/jquery-2.1.4.js"></script>
  <script src="js/jquery.mobile.custom.min.js"></script>
  <script src="js/main.js"></script> 