<div class="shop-footer">
  <div class="container">
    <div class="row mb-footer-grid">
      <div class="col-9">
        <div class="footer-content">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <div class="social">
                    <div class="social-title">FOLLOW US</div>
                    <div class="social-icons" *ngIf="socialIcons">
                      <div class="social-icon" *ngFor="let icon of socialIcons.data;" >
                          <a href="{{ icon.link }}" target="_blank"> <img src="{{ icon.icon }}"> </a>
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="col-7">
                  <div class="subscription">
                    <div class="subscription-title">
                      RECEIVE OUR NEWSLETTER
                    </div>
                    <div class="subscription-box">
                      <input type="text" name="email" class="subscription">
                      <input type="button" name="subscribe" class="subscribe-button" value="Subscribe">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-separator"></div>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col" *ngIf="footerColOne">
                  <div class="footer-link-{{ (i === 0) ? 'main': 'sub' }}" *ngFor="let link of footerColOne; let i = index;">
                    <a href="{{ link.itemLink }}" *ngIf="i === 0">{{ link.itemName }}</a>
                    <a href="{{ link.itemLink }}" *ngIf="i !== 0"> {{ link.itemName }}</a>
                  </div>  
                </div>
                <div class="col" *ngIf="footerColTwo">
                    <div class="footer-link-{{ ( j < 3 ) ? 'main': 'sub' }}" *ngFor="let link of footerColTwo; let j = index;">
                        <a href="{{ link.itemLink }}" *ngIf="j < 3">{{ link.itemName }}</a>
                        <a href="{{ link.itemLink }}" *ngIf="j > 2">{{ link.itemName }}</a>
                    </div>
                </div>
                <div class="col" *ngIf="footerContact">                  
                  <div class="footer-link-main"><a href="#">{{ (footerContact[0]) ? footerContact[0].title : ''}}</a></div>
                    <div class="footer-link-text">{{ (footerContact[0]) ? footerContact[0].description2: ''}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-apps">
          <div class="apps-box">
            <div class="coming-soon-title">
              COMING SOON
            </div>
            <div class="app-icon">
              <img src="/assets/icons/app-ios.png">
            </div>
            <div class="app-icon">
              <img src="/assets/icons/app-android.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="footer-copyright">
  © 2019 Wildherbstechnologies. All rights reserved.
</div>

<div class="desk-hide">

  

</div>