<div class="shop-footer">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="footer-content">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <div class="social">
                    <div class="social-title">FOLLOW US</div>
                    <div class="social-icons">
                      <div class="social-icon">
                        <img src="/assets/icons/facebook.png">
                      </div>
                      <div class="social-icon">
                        <img src="/assets/icons/twitter.png">
                      </div>
                      <div class="social-icon">
                        <img src="/assets/icons/twitter.png">
                      </div>
                      <div class="social-icon">
                        <img src="/assets/icons/youtube.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-7">
                  <div class="subscription">
                    <div class="subscription-title">
                      RECEIVE OUR NEWSLETTER
                    </div>
                    <div class="subscription-box">
                      <input type="text" name="email" class="subscription">
                      <input type="button" name="subscribe" class="subscribe-button" value="Subscribe">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-separator"></div>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="footer-link-main"><a href="#">VISITOR INFORMATION</a></div>
                  <div class="footer-link-sub"><a href="#">SHOPPING</a></div>
                  <div class="footer-link-sub"><a href="#">DINING</a></div>
                  <div class="footer-link-sub"><a href="#">GUEST SERVICES</a></div>
                  <div class="footer-link-sub"><a href="#">ENTERTAINMENT</a></div>
                  <div class="footer-link-sub"><a href="#">EVENTS</a></div>
                  <div class="footer-link-sub"><a href="#">OFFERS</a></div>
                </div>
                <div class="col">
                  <div class="footer-link-main"><a href="#">CAREER</a></div>
                  <div class="footer-link-main"><a href="#">MEDIA</a></div>
                  <div class="footer-link-main"><a href="#">ABOUT US</a></div>
                  <div class="footer-link-sub"><a href="#">LEASING ENQUIRIES</a></div>
                  <div class="footer-link-sub"><a href="#">PRIVACY POLICY</a></div>
                  <div class="footer-link-sub"><a href="#">TERMS & CONDITIONS</a></div>
                </div>
                <div class="col">
                  <div class="footer-link-main"><a href="#">CONTACT US</a></div>
                  <div class="footer-link-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    ultricies ante eu metus pharetra
                    accumsan. Vivamus sit amet eros a dolor scelerisque accumsan.</div>
                  <div class="footer-link-text">Phone : 1234567879</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-apps">
          <div class="apps-box">
            <div class="coming-soon-title">
              COMING SOON
            </div>
            <div class="app-icon">
              <img src="/assets/icons/app-ios.png">
            </div>
            <div class="app-icon">
              <img src="/assets/icons/app-android.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="footer-copyright">
  © 2019 Wildherbstechnologies. All rights reserved.
</div>