<div class="page-banner">
  <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
  <img
    src="assets/hyattplaza-images/shopping/cat-fashion/watch.png"
    class="banner-image"
  />

  <div class="banner-box-shadow">
    <div class="banner-title">
      {{this.cover_name}}
    </div>
  </div>


  
  <div class="banner-search">
    <div class="search-boxes">
      <select class="search-select" name="category" id="cat">
        <option *ngFor="let cat of category"   value={{cat.cat_value}}>{{cat.cat_name}}</option>
      </select>
      <input type="text" class="search-text" name="search" />
       
          <div class="search-button box view overlay zoom">
              <img src="assets/icons/search.png" />
            </div>
        
      
    </div>
  </div>
</div>

<h4 style="text-align:center;">SHOP LIST</h4>

 
<!-- <ul *ngFor="let employee of employees">
  <li> 1 </li>
  <li>{{employee.id}}</li>
  <li>{{employee.name}}</li>
</ul> -->



<div class="store-list">
<!-- test -->
<div *ngFor="let employee of shops" class="item">
    <img
      class="mens_fasion_img"
      src="{{employee.img}}"
      style="width:100%;"
      routerLink="/shopping/shop_storeview"
    />
    <div class="text-block">
  <p  style="text-align:center;">{{employee.store_name}}</p>    
    </div>
  </div> 

<!-- endTest -->



  <!-- ITEM -->
  <!-- <div *ngFor="let user of users$" class="item">
    <img
      class="mens_fasion_img"
      src="assets/hyattplaza-images/shopping/cat1.png"
      style="width:100%;"
    />
    <div class="text-block">
  <p style="text-align:center;">{{user.name}}</p>  
    
       
  
   
    </div>
  </div> -->
  <!-- ./END ITEM -->


  <!-- <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />

    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div>
  <div class="item">
    <img
      class="mens_fasion_img"
      src="{{ mens_fasion[0].img }}"
      style="width:100%;"
    />
    <div class="text-block">
      <p style="text-align:center;">{{ mens_fasion[0].store_name }}</p>
    </div>
  </div> -->

</div>

 