<div class="page-banner">
    <img src="assets/hyattplaza-images/dining/ban.png" class="banner-image original-size" >  
   
     <div class="banner-box-shadow">
       <div class="banner-title">
       DINING
       </div>
     </div>
      
   </div>
   <h4 style="text-align:center;">SHOP LIST</h4>

   <div class="store-list">
      <!-- test -->
      <div *ngFor="let dinig of dinig_list" class="item-overlay">
          <img
            class="mens_fasion_img"
            src="{{dinig.image}}"
            style="width:100%;"
            routerLink="/dining/dining_store"
          />
          <div class="text-block" routerLink="/dining/dining_store">
        <p style="text-align:center;">{{dinig.title}}</p>  
          
             
        
         
          </div>
        </div> 
        </div>