 <ngx-spinner>
    <app-spinner></app-spinner>
</ngx-spinner>  

 
 <app-header></app-header>
 

<section>
    
 
 <router-outlet>
     
 </router-outlet>
</section> 
 
<app-footer></app-footer> 



<!-- <div id="background"> 
    <div id="logocontainer" onclick=fill()>

      <div id="pelogo">
          <img src="../assets/hyattplaza-images/new-images/logo-plaza.png" alt="Logo Moody City" id="logo-loader" width="100%" height="auto" />

      </div>

      <div class="loader" style="left:2vh; top:0; height:2vh; width:0; animation:slide1 1s linear forwards infinite"></div>
      <div class="loader" style="right:0; top:2vh; width:2vh; height:0; animation:slide2 1s linear forwards infinite; animation-delay:0.5s"></div>
      <div class="loader" style="right:2vh; bottom:0; height:2vh; width:0; animation:slide3 1s linear forwards infinite"></div>
      <div class="loader" style="left:0; bottom:2vh; width:2vh; height:0; animation:slide4 1s linear forwards infinite; animation-delay:0.5s"></div>
    </div> -->