<div class="page-banner">
    <img src="http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/hyattplaza-images/Career/Group 127.png" class="banner-image" />
    <div class="banner-box-shadow">
      <div class="banner-title">
      CAREER
      </div>
    </div>
  </div>

  <div
  data-spy="scroll"
  class="apply-pos  scrollspy-example z-depth-1 mt-4"
  data-offset="0"
>
  <div
    class="accordion md-accordion"
    id="accordionEx"
    aria-multiselectable="true"
  >
    <div class="card">

      <!-- FIRST JB DES -->
      <div col-md-offset-9>
        <h3 id="title1"></h3>
        <div id="1jb_h"> 
        <p id="job_des1"></p>

        <button
          id="test"
          class="btn  btn-md col-md-3 "
          style="float:right;"
          data-toggle="collapse"
          data-parent="#accordionEx"
          href="#collapseOne1"
          aria-controls="collapseOne1"
        >
          READ MORE
        </button>
        </div>
      </div>

      <hr id="hrh" />
      <div
        id="collapseOne1"
        class="collapse"
        role="tabpanel"
        aria-labelledby="headingOne1"
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <p class="jb_det" id="job_details1"></p>
          
          <div style="text-align:center;">
              <button class="apl-nw">APPLY NOW</button>

          </div>
         
       
          <hr />
        </div>
      </div>
           <!--END FIRST JB DES -->

     
     
           <!-- SECOND JB DES -->
     
      <div col-md-offset-9>
 <h3 id="title2"></h3>
 <div id="2jb_h"> 
      <p class="jb_det" id="job_des2"></p> 
      
      <button
      id="test2"
      class="btn  btn-md col-md-3 "
      style="float:right;"
      data-toggle="collapse"
      data-parent="#accordionEx"
      href="#collapseTwo2"
      aria-controls="collapseTwo2"
    >
      READ MORE
    </button>
   
    </div>
    
  
    </div>
    <hr id="hrh2"/>
    <div
        id="collapseTwo2"
        class="collapse"
        role="tabpanel"
        aria-labelledby="headingOne1"
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <p class="jb_det" id="job_details2" ></p>
          <br>
          <div style="text-align:center;">
              <button class="apl-nw" >APPLY NOW</button>

          </div>
          <hr />
        </div>
      </div>
<!-- END SECOND JB DES -->
<!-- ThirdJOBDES -->
<div  col-md-offset-9>
      <h3 id="title3"></h3>
      <div id="3jb_h"> 
      <p id="job_des3"></p>
      <button
      id="test3"
      class="btn  btn-md col-md-3 "
      style="float:right;"
      data-toggle="collapse"
      data-parent="#accordionEx"
      href="#collapseThree3"
      aria-controls="collapseThree3"
    >
      READ MORE
    </button>
  </div>
</div>
<hr id="hrh3"/>
<div
        id="collapseThree3"
        class="collapse"
        role="tabpanel"
        
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <p class="jb_det" id="job_details3" ></p>

          <br>
          <div style="text-align:center;">
              <button class="apl-nw" >APPLY NOW</button>

          </div>
          <hr />
        </div>
      </div>


<!-- END3RDDES -->

<!-- 4JB-DES -->
<div  col-md-offset-9> 
      <h3 id="title4"></h3>
      <p id="job_des4"></p>
      <h3 id="title4"></h3>
      <div id="4jb_h"> 
      <p id="job_des4"></p>
      <button
      id="test4"
      class="btn  btn-md col-md-3 "
      style="float:right;"
      data-toggle="collapse"
      data-parent="#accordionEx"
      href="#collapseFour4"
      aria-controls="collapseFour"
    >
      READ MORE
    </button>

    </div>
    </div>
   

    <div
    id="collapseFour4"
    class="collapse"
    role="tabpanel"
    
    data-parent="#accordionEx"
  >
    <div class="card-body">
      <p class="jb_det" id="job_details4" ></p>
      <br>
      <div style="text-align:center;">
          <button class="apl-nw" >APPLY NOW</button>

      </div>

      <hr />
    </div>
  </div>
  <!-- END 4JB-DES -->

 </div>
</div>
</div>

 



<div style="text-align:center;" class="emp-enq">
    <div style="text-align:left;"> 
    <h5><b>For employement related enquires:</b></h5>
    <p>HR Department <br>
   Hyatt Plaza Shopping Mall <br>
     P.O BOX 22402 <br>
   Doha, Qatar <br>
    Tel:4499667/ 674/674<br> 
   Email: career@hyatplaza.com</p>
  </div>
  </div>
  