<div class="page-banner">
    <img src="http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/hyattplaza-images/Career/Group 127.png" class="banner-image" />
    <div class="banner-box-shadow">
      <div class="banner-title">
      CAREER
      </div>
    </div>
  </div>

  

<div class="career-job-section">

  <div class="job-post"  >
    <div  *ngFor="let career of hyattCareer">
    <div class="job-title">
        <h3 class="font-marcellus" style="text-align:left; text-transform: uppercase;">
           {{career.title}}
            </h3>
    </div>
<div class="short-job-des" *ngIf="showTab == 1">
  <p class="font-Akkurat">
    <!-- Elszenderül ahol és körül ti halál. Neki kellene hull ahol nagyon el nem, kíntól a s elvonta boldog de. Világ s táj menedéket halál a de hagyottan. Magára horgot ellene hallja kénye ellökött fáj. Csecsemő nem az lel bukjatok, halál hoz álom magától sírjátok kelljen, s ríjjátok igát gondom ellökött s élő ebek hol néma, bukjatok ugassátok mégis kiket hol hogy igát ebek, is ép megriadt de olyat nemcsak legutolsó kerék kivül. Hallgassátok a mégis nincsen ti. -->
{{career.shortdes}}
  </p>

  <button style="float:right;" (click)="tabToggle(2)" class="button-common-style">
    READ MORE
  </button>
</div>

<div class="job-full-detail" *ngIf="showTab == 2">

    <p class="font-Akkurat">
        <!-- Elszenderül ahol és körül ti halál. Neki kellene hull ahol nagyon el nem, kíntól a s elvonta boldog de. Világ s táj menedéket halál a de hagyottan. Magára horgot ellene hallja kénye ellökött fáj. Csecsemő nem az lel bukjatok, halál hoz álom magától sírjátok kelljen, s ríjjátok igát gondom ellökött s élő ebek hol néma, bukjatok ugassátok mégis kiket hol hogy igát ebek, is ép megriadt de olyat nemcsak legutolsó kerék kivül. Hallgassátok a mégis nincsen ti.
        Disporting minstrels een wassailers break take a hope deem, wight day but me dote chill tis, festal deigned days in from, and of flee despair gathered love by yes. Friends charms was are whom of more the. Later ever his deemed each or, domestic and name rhyme uncouth are in, massy are ways soils to native. Shrine more taste shades whose spent, pomp to and to neer of felt he though, oer they childe departed so. That.
        From did that shades this him artless hellas massy, and steel whilome hill seraphs but. Clay and in breast noontide and, sighed his loved talethis did come blazon and, seraphs did in mother dote, mighty disappointed delphis her dwelt if these are save disporting. Revel brow nor partings call so. Mood resolved say carnal to, there a were had talethis. Had his to still awake but he glee and, ah known or caught his but to way soul the, his heralds few bade him revel any the hall. -->
 {{career.detaildes}}
      </p>
      <p><b>Required Skills:&nbsp;</b>{{career.skills}} </p>
<p><b>Responsiblities:&nbsp;</b>{{career.responsible}}</p>
<!-- <p><b>Experience:&nbsp;</b>Disporting minstrels een wassailers break take a hope deem, wight day but me dote chill tis, festal deigned days in from, and of flee despair gathered love by yes. Friends charms was are whom of more the. Later ever his deemed each or, domestic and name rhyme uncouth are in, massy are ways soils to native. Shrine more taste shades whose spent, pomp to and to neer of felt he though</p> -->
    <div style="text-align:center;">
      <button class="button-common-style">
        APPLY NOw
      </button>
    </div>

</div>
<hr class="hr">
</div>


  </div>


</div>

 



<div style="text-align:center;" class="emp-enq">
    <div style="text-align:left;"> 
    <h5 class="font-marcellus"><b>For employement related enquires:</b></h5>
    <p class="font-Akkurat">HR Department <br>
   Hyatt Plaza Shopping Mall <br>
     P.O BOX 22402 <br>
   Doha, Qatar <br>
    Tel:4499667/ 674/674<br> 
   Email: career@hyatplaza.com</p>
  </div>
  </div>
  