 <!-- <div class="loader">
    <svg class="circulls" xmls="http://www.w3.org/2000/svg" viewBox="0 0 360 360">
    <circle cx="180" cy="180" r="170" stroke="rgb(87,45,139)"/>
    <circle cx="180" cy="180" r="160" stroke="rgb(168,31,131)"/>
    <circle cx="180" cy="180" r="150" stroke="rgb(202,33,91)"/>
    <circle cx="180" cy="180" r="140" stroke="rgb(210,91,50)"/>
    <circle cx="180" cy="180" r="130" stroke="rgb(230,181,46)"/>
    <circle cx="180" cy="180" r="120" stroke="rgb(151,197,59)"/>
    <circle cx="180" cy="180" r="110" stroke="rgb(89,162,150)"/>
    <circle cx="180" cy="180" r="100" stroke="rgb(68,68,221)"/>
    <circle cx="180" cy="180" r="90" stroke="rgb(87,45,139)"/>
    <circle cx="180" cy="180" r="80" stroke="rgb(168,31,131)"/>
    <circle cx="180" cy="180" r="70" stroke="rgb(202,33,91)"/>
    <circle cx="180" cy="180" r="60" stroke="rgb(210,91,50)"/>
    <circle cx="180" cy="180" r="50" stroke="rgb(230,181,46)"/>
    <circle cx="180" cy="180" r="40" stroke="rgb(151,197,59)"/>
    <circle cx="180" cy="180" r="30" stroke="rgb(89,162,150)"/>
    <circle cx="180" cy="180" r="20" stroke="rgb(68,68,221)"/>
    <circle cx="180" cy="180" r="10" stroke="rgb(230,81,46)"/>
  </svg>
  </div> -->

  <!-- 2ND LOADER -->

<!-- <div class="ld"> 
   

  <div class="loader">
      
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>
  </div> -->

  <!-- END 2ND LOADER -->


  <!-- 3RDLOADER -->
  <div class="ld">

    <div class="auth0-spinner">
        <div class="spinner"></div>
      </div>
      </div>