@font-face {
    font-family: Akkurat-Light;
    src: url('../../home/Akkurat-Light.ttf');
} 

@font-face {
    font-family: Marcellus-Regular;
    src:url('../../home/Marcellus-Regular.ttf');
}

h3{ 
    text-align: center;
    text-transform: uppercase;
    font-family: Marcellus-Regular;
}
.card-columns{
    column-count: 4;
  grid-column-gap: 3px;
    margin-left: 5px;
    margin-right: 5px;
 
  
   
}
.card-columns .card {
    margin-bottom: 3px;
}

// .card-columns{
//     display: grid;
//     grid-template-columns: repeat(4, 3fr);
// //     //grid-template-rows:  4fr 2fr , 2fr 4fr , 3fr 2fr, 2fr 3fr;


//     grid-gap: 3px;
    
// }
