<div class="page-banner">
        <img src="{{ (pageBannerLoaded ? pageBanner.cover : '') }}" class="banner-image">
        <div class="banner-box-shadow">
          <div class="banner-title">
            {{ (pageBannerLoaded ? pageBanner.title : '') }}
          </div>
        </div>
</div>

<div class="stories-images container" *ngIf="featuredItems" >
        <div class="row home-mb-section">
          <div class="col-6 home-mb-section-sub" *ngIf="featuredItems[0]">
            <img src="{{featuredItems[0].image[0].image_name}}">
            <div class="stories-image-content" style="background-image: url('/assets/icons/Rectangle_245.png');background-size: cover;">
              <div class="image-caption">
                <div class="image-caption-elarge">                  
                  <p class="custom-title" innerHTML="{{featuredItems[0].title}}"></p>
                  <div class="link-button button-common-style">EXPLORE MORE</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 home-mb-section-sub"  *ngIf="featuredItems[1]">
            <img src="{{featuredItems[1].image[0].image_name}}">
            <div class="stories-image-content" style="background-image: url('/assets/icons/Rectangle_244.png');background-size: cover;">
              <div class="image-caption">
                <div class="image-caption-elarge">                
                  <p class="custom-title" innerHTML="{{featuredItems[1].title}}"></p>
                  <div class="link-button button-common-style">EXPLORE MORE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row home-mb-section">
          <div class="col-7 home-mb-section-sub"  *ngIf="featuredItems[2]">
            <img src="{{featuredItems[2].image[0].image_name}}">
            <div class="stories-image-content" style="background-image: url('/assets/icons/Rectangle_242.png');background-size: cover;">
              <div class="image-caption">
                <div class="image-caption-large">                  
                  <p class="custom-title" innerHTML="{{featuredItems[2].title}}"></p>
                  <div class="link-button button-common-style">EXPLORE MORE</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 home-mb-section-sub"  *ngIf="featuredItems[3]">
            <img src="{{featuredItems[3].image[0].image_name}}">
            <div class="stories-image-content" style="background-image: url('/assets/icons/Rectangle_113.png');background-size: cover;">
              <div class="image-caption">
                <div class="image-caption-small">                 
                  <p class="custom-title" innerHTML="{{featuredItems[3].title}}"></p>
                  <div class="link-button button-common-style">EXPLORE MORE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>