.page-banner {
    display: block;
    position: relative;
    .banner-image {
        width: 100%;
        height: 333px;
    }
    .banner-box-shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
       // background-image: url('/assets/icons/Rectangle_137-page.png');
   background-image: url('http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/icons/Rectangle_137.png');
       
       background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .banner-title {
            text-align: center;
            color: #ffffff;
            font-family: Marcellus;
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            justify-content: center;
            max-width: 50%;
        }
    }
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 2fr);
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 18px;
    margin-top:20px;
    grid-gap: 8px;
}

// Buttton ActiveColorChange
.active, .btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
   // background: #ffffff !important; 

  }
  .btn-cs{
      background: #ffffff;
      color: #000000;
      border: 1px solid #000000;
  }
  .active {
      background: #000000;
      color: #ffffff;
  }

//   .btn-cs {
//       margin-top: 24px;
//       margin-bottom: 20px;
//       margin-right: 10px;

//       width:177px;
//       height: 33px;
//   }

.btn-cs {
      
    margin-top: 24px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
grid-gap: 20px;
    width:166px;
    height: 44px;
}

// END


// NEWS STYLE
.blog-des{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: repeat(2, 2fr);
    margin-left: 32px;
  margin-right: 32px;
  grid-gap:18px;

  margin-bottom: 22px;
}

.fx-h{
  height: 288px !important;
  max-width: 550px !important;
  object-fit: cover;
  
}
.hr-wid, .des{

    max-width: 550px !important;
}

hr {
  margin: 1px;
}

p{
  font-family: Akkuret-Light;
  margin: 0;
}
.des {
    color: #5a5a5a;
}

.bl-des {
  display: flex;
  margin-top: 13%;
  font-size: 31px;

}

// END NEWSSTYLE

#news {
    // display: none;
}


@media only screen 
and (max-width : 768px) {

    .btn-cs{
        height: 33px !important;
        width: 100px !important;
        font-size: 1vw;
    }

    .banner-image {
        height: 230px !important;
    }


    .fx-h{
        height: 138px !important;
        
        object-fit: cover;
    }  
      
}



// TEXTBLOCK
.item {
    position: relative;
  }
.text-block {
    position: absolute;
    bottom: 0;
    //right: 20px;
    background-color: black;
    opacity: .6;
    color: white;
    width: 100%;
   // height: 22%;
    //padding-left: 20px;
   // padding-right: 20px;
   padding: 3%;
  }

 
  p {
    //  margin-top: 3%;
  }

// END TEXTBLOCK
.grid-col {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1% !important;
    margin:2% !important;
}
.item{
    margin-bottom: 2% !important;
}