<div class="page-banner">
        <img src="{{ (pageBannerLoaded ? pageBanner.cover : '') }}" class="banner-image original-size">
        
          <div class="banner-box-shadow">
            <div class="banner-title">
              {{ (pageBannerLoaded ? pageBanner.title: '') }}
            </div>
          </div>           
</div>



<div class="grid-col" *ngIf="albumImagesLoaded">
        <div *ngFor="let image of albumImages.data" class="item">
            <img
              class="mens_fasion_img"
              src="{{ image.gallery_image }}"
              style="width:100%;"
            />           
          </div> 
        
</div>
