<div class="page-banner">
    <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
  <img src="assets/hyattplaza-images/banner1.jpg" class="banner-image original-size" >  
  
    <div class="banner-box-shadow">
      <div class="banner-title">
          privacy policy
      </div>
    </div>
     
  </div>
  <div class="privacy">

  
      <div id="privacy">
        <h3>Privacy Heading</h3>
        <p>Ipsum lorem tempor justo tempor erat ipsum, dolore magna invidunt dolore diam labore sed, accusam ipsum at eirmod et labore accusam ea lorem, kasd vero dolor labore amet takimata dolor eirmod stet. Sed voluptua tempor et sadipscing est, amet sadipscing et consetetur sea et voluptua clita dolor, aliquyam ipsum diam takimata amet sea. Invidunt eos magna amet diam lorem sanctus amet nonumy accusam, dolor consetetur tempor rebum amet sed eirmod invidunt kasd. Dolores ipsum tempor erat sea diam stet. Sed lorem dolor ipsum no dolore est. Dolore kasd lorem elitr lorem, dolor kasd erat stet ut labore. Ea ipsum sed elitr elitr ea vero stet labore. Clita eirmod dolore no tempor,.</p>
        <p>Ipsum lorem tempor justo tempor erat ipsum, dolore magna invidunt dolore diam labore sed, accusam ipsum at eirmod et labore accusam ea lorem, kasd vero dolor labore amet takimata dolor eirmod stet. Sed voluptua tempor et sadipscing est, amet sadipscing et consetetur sea et voluptua clita dolor, aliquyam ipsum diam takimata amet sea. Invidunt eos magna amet diam lorem sanctus amet nonumy accusam, dolor consetetur tempor rebum amet sed eirmod invidunt kasd. Dolores ipsum tempor erat sea diam stet. Sed lorem dolor ipsum no dolore est. Dolore kasd lorem elitr lorem, dolor kasd erat stet ut labore. Ea ipsum sed elitr elitr ea vero stet labore. Clita eirmod dolore no tempor,.</p>
        <p>Ipsum lorem tempor justo tempor erat ipsum, dolore magna invidunt dolore diam labore sed, accusam ipsum at eirmod et labore accusam ea lorem, kasd vero dolor labore amet takimata dolor eirmod stet. Sed voluptua tempor et sadipscing est, amet sadipscing et consetetur sea et voluptua clita dolor, aliquyam ipsum diam takimata amet sea. Invidunt eos magna amet diam lorem sanctus amet nonumy accusam, dolor consetetur tempor rebum amet sed eirmod invidunt kasd. Dolores ipsum tempor erat sea diam stet. Sed lorem dolor ipsum no dolore est. Dolore kasd lorem elitr lorem, dolor kasd erat stet ut labore. Ea ipsum sed elitr elitr ea vero stet labore. Clita eirmod dolore no tempor,.</p>
        <p>Ipsum lorem tempor justo tempor erat ipsum, dolore magna invidunt dolore diam labore sed, accusam ipsum at eirmod et labore accusam ea lorem, kasd vero dolor labore amet takimata dolor eirmod stet. Sed voluptua tempor et sadipscing est, amet sadipscing et consetetur sea et voluptua clita dolor, aliquyam ipsum diam takimata amet sea. Invidunt eos magna amet diam lorem sanctus amet nonumy accusam, dolor consetetur tempor rebum amet sed eirmod invidunt kasd. Dolores ipsum tempor erat sea diam stet. Sed lorem dolor ipsum no dolore est. Dolore kasd lorem elitr lorem, dolor kasd erat stet ut labore. Ea ipsum sed elitr elitr ea vero stet labore. Clita eirmod dolore no tempor,.</p>
      
      </div>
    
       
    </div>