@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@font-face {
    font-family: 'Akkurat';
    src: url('./assets/fonts/Akkurat/Akkurat-Regular.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'Marcellus';
    src: url('./assets/fonts/Marcellus/Marcellus-Regular.ttf') format('truetype');
    font-style: normal;
  }
body {
  margin:0px;
  overflow-x:hidden ;
}
.container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0px !important;
  margin-right: auto;
  margin-left: auto;
}
@media only screen 
and (max-width : 1455px) {
  .shop-header .shop-menu .menu-logo {
    left:50px !important;
  }
  .shop-header .shop-menu .menus .menu {
    margin-right:25px !important;
  }
  .shop-header .shop-menu .menu-search .menu-search-icon {
    left:125px !important;
  }
  .shop-header .shop-menu .menu-search .search-box {
    width:150px !important;
  }
}
@media only screen 
and (max-width : 1024px) {
  .carousel-caption {
    top:10% !important;
  }
  .banner-title {
    font-size:42px !important;
  }
  .shop-header .header-links .link {
      margin-left: 10px !important;
      margin-right: 10px !important;
  }
  .shop-header .shop-menu .menus .menu {
    margin-right:12px !important;
    font-size:14px !important;
  }
  .shop-header .shop-menu .menus {
      display: block !important;
      text-align: right !important;
      padding: 12px 0px !important;
  }
  .home-image-content .image-caption-large {
    padding-left: 10% !important;
    padding-top: 30% !important;
  }
  .home-image-content .image-caption-small {
    padding-left: 15% !important;
    padding-top: 40% !important;
  }
  .home-image-content .image-caption .title {
    font-size:32px !important;
  }
  .shop-footer .footer-apps .apps-box .app-icon img {
    width:140px !important;
  }
  .shop-footer .footer-content .footer-bottom .footer-link-text {
    font-size:12px !important;
  }
  .shop-footer .footer-content .footer-bottom .footer-link-main, .shop-footer .footer-content .footer-bottom .footer-link-main a {
    font-size:14px !important;
  }
  .shop-footer .footer-content .footer-bottom .footer-link-sub, .shop-footer .footer-content .footer-bottom .footer-link-sub a {
    font-size:12px !important;
  }
  .news-events .records .event-details .event-title {
    font-size:18px !important;
  }
  .news-events .records .event-details .event-date {
    font-size:18px !important;
  }

  .stories-image-content .image-caption-large {
    padding-left: 10% !important;
    padding-top: 30% !important;
  }
  .stories-image-content .image-caption-small {
    padding-left: 15% !important;
    padding-top: 40% !important;
  }
  .stories-image-content .image-caption .title {
    font-size:32px !important;
  }
  .shop-header .shop-menu .menu-search .menu-search-icon {
    left:95px !important;
  }
  .shop-header .shop-menu .menu-search .search-box {
    width:120px !important;
  }

}
@media only screen 
and (max-width : 768px) {
  .carousel-caption {
    top:10% !important;
  }
  
  .banner-title {
    font-size:36px !important;
  }
  .shop-header .header-links {
    padding-left:145px !important;
  }
  .shop-header .header-links .link {
      margin-left: 5px !important;
      margin-right: 5px !important;
  }
  .shop-header .header-links .link .link-text {
    font-size:11px !important;
  }
  .shop-header .shop-menu .menus .menu {
    margin-right:10px !important;
    font-size:10px !important;
  }
  .home-banners .carousel-caption .banner-description {
    font-size:18px !important;
  }
  .home-banners .carousel-caption .banner-tag {
    font-size:18px !important;
  }
  .shop-header .shop-menu .menus {
      display: block !important;
      text-align: right !important;
      padding: 12px -px !important;
  }
  .home-image-content .image-caption-large {
    padding-left: 10% !important;
    padding-top: 20% !important;
  }
  .home-image-content .image-caption-elarge {
    padding-left: 6% !important;
    padding-top: 15% !important;
  }
  .home-image-content .image-caption-small {
    padding-left: 15% !important;
    padding-top: 27% !important;
  }
  .home-image-content .image-caption .title {
    font-size:32px !important;
  }
  .shop-footer .footer-apps .apps-box .app-icon img {
    width:120px !important;
  }
  .shop-footer .footer-content .footer-bottom .footer-link-text {
    font-size:12px !important;
  }
  .shop-footer .footer-content .footer-bottom .footer-link-main, .shop-footer .footer-content .footer-bottom .footer-link-main a {
    font-size:14px !important;
  }
  .shop-footer .footer-content .footer-bottom .footer-link-sub, .shop-footer .footer-content .footer-bottom .footer-link-sub a {
    font-size:12px !important;
  }
  .news-events .records .event-details .event-title {
    font-size:12px !important;
  }
  .news-events .records .event-details .event-date {
    font-size:12px !important;
  }
  .shop-footer .footer-content .footer-top .subscription .subscription-box .subscription {
    width:65% !important;
  }
  .shop-footer .footer-content .footer-top .subscription .subscription-box .subscribe-button {
    width: 80px !important;
  }
  .stories-image-content .image-caption-large {
    padding-left: 10% !important;
    padding-top: 20% !important;
  }
  .stories-image-content .image-caption-elarge {
    padding-left: 6% !important;
    padding-top: 15% !important;
    padding-bottom: 15% !important;
  }
  .stories-image-content .image-caption-small {
    padding-left: 15% !important;
    padding-top: 27% !important;
  }
  .stories-image-content .image-caption .title {
    font-size:18px !important;
  }
  .stories-image-content .image-caption .tag {
    font-size:18px !important;
  }
  .stories-image-content .image-caption .link-button {
    // width: 220px !important;
    // height: 30px !important;
    // padding:5px !important;
    font-size:12px !important;
  }
  .shop-header .shop-menu .menu-logo {
    left:30px !important;
    width: 120px !important;
    height: 120px !important;
  }
  .shop-header .shop-menu .menu-search .menu-search-icon {
    left:55px !important;
    width:12px !important;
    height: 12px !important;
  }
  .shop-header .shop-menu .menu-search .search-box {
    width:80px !important;
  }
  .shop-header .shop-menu .menu-search .search-box {
    font-size:10px !important;
  }
}

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   height: 100px;
//   width: 100px;
//   outline: black;
//   background-size: 100%, 100%;
//   border-radius: 50%;
//   background-image: none;
// }

// .carousel-control-next-icon:after
// {
//   content: '>';
//   font-size: 55px;
//   color: #ffffff;
// }

// .carousel-control-prev-icon:after {
//   content: '<';
//   font-size: 55px;
//   color: #ffffff;
// }
.carousel-control-next-icon {
  background-image: url(/assets/icons/952767-chevron-right.svg);
  height: 30px;
}
.carousel-control-prev-icon {
  background-image: url(/assets/icons/952766-chevron-left.svg);
  height: 30px;
}

.slick-prev, .slick-next {
  height: 35px;
}
.slick-next {
  right: -30px;
  width:18px;
}
.slick-prev {
  left: -30px;
  width:18px;
}
.slick-prev,.slick-prev:hover {
  background-image: url(/assets/icons/953067-chevron-left-grey.svg);
}
.slick-next,.slick-next:hover {
  background-image: url(/assets/icons/953068-chevron-right-grey.svg);

}
.slick-prev:before {
  content: none;
}
.slick-next:before {
  content: none;
}
a {
  cursor: pointer;
}

.menu > a {
  color: #ffffff;
}

.padLR15{
  padding-left: 15px!important;
  padding-right: 15px!important;
}

.padLR45{
  padding-left: 45px!important;
  padding-right: 45px!important;
}

 




/* CUSTOM CLASSES */

.cont {
	padding: 12px;
}

.name-shade {
	font-size: 1rem;
	position: absolute;
	height: 2rem;
	left: 0;
	bottom: 0;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	text-align: center;
}

.image-div {
	position: inherit;
}

.vip-card-title {
	font-family: Marcellus!important;
	text-size: 3rem;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.vip-button {
	font-family: Akkurat !important;
	text-transform: uppercase;
	width: 188px;
	height: 44px;
	border: 1px solid #000;
	background: #fff;
}
.vip-button:hover {
	background: #000;
	color: #fff;
}

.vip-button-inv {
	font-family: Akkurat !important;
	text-transform: uppercase;
	width: 188px;
	height: 44px;
	border: 1px solid #000;
	color: #fff;
	background: #000;
}
.subtitle{
	font-family: Akkurat!important;
	font-weight: 400;
	font-size:1.3rem;
}

#history {
	min-height: 30rem;
	background-color: #f2f2f2;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.stores-column{
	padding-left:0.5rem;
	padding-right:0.5rem;
}
.form-input-c {
    border-color: black;
    border-radius: 0;
    margin-bottom: .25rem;
}
.custom-tab{
    width: 50%;
    text-align: center;
}
.post-line-v:after{
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	background-color:#999;
	top: 0;
	left: 100%;
}
.page-banner {
    display: block;
    position: relative;
    .banner-image {
      width: 100%;
    }
    .banner-box-shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("/assets/icons/Rectangle_137-page.png");
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .banner-title {
        text-align: center;
        color: #ffffff;
        font-family: Marcellus;
        font-size: 60px;
        font-weight: 400;
        text-transform: uppercase;
        justify-content: center;
        max-width: 50%;
      }
    }
  }


  // KRISHNANATH CUSTOMSTYLES

 

.link-button a{
  color: #fff ;
  text-decoration: none !important;
}

// COMMON SLIDER TITLE

.slider-title-size{
font-size: 18px !important;
}


.button-common-style{
  border: 1px solid #fff !important;
  color: #fff ;
  text-transform: uppercase !important; 
  height: 44px !important;
  width: 188px !important;
  font-size: 14px !important;

}
 

.custom-title{
  font-size: 42px !important;
  color: #ffffff !important;
  font-family: Marcellus !important;
  
  font-weight: 400 !important;
  text-transform: uppercase !important;
  // line-height: 1;
}


.button-common-style:hover{ 

  background: #fff !important;
  color: #000 !important;
  a{
  color: #000 !important;
  }

}
.button-common-style a:hover{ 

  // background: #fff !important;
  color: #000 !important;

}

.link-button {
  // width: 260px;
  // height: 50px;
  border: 2px solid #ffffff ; 
  margin-block-end: auto;
  text-align: center;
  padding:10px;
  color: #ffffff;
  background: transparent !important;
  font-family: Akkurat !important;
  // font-size: 16px !important;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

 

@media screen and (max-width: 777px)
{
  .mob-hide{
    display: none !important;
  }


  .home-mb-section{
    display: grid !important;
    grid-template-rows: repeat(1) !important;
}
.home-mb-section-sub{
    max-width: 100% !important;
    height: 333px !important;
}
.image-caption-small, .image-caption-elarge, .image-caption-large{
    padding-left: 10% !important;
    padding-top: 25% !important;
}


  .custom-title{
    font-size: 32px !important;
    font-family: Marcellus !important;
  }
  .custom-tag {
    font-size: 15px !important;
    color: #ffffff;
    font-family: Marcellus !important;
    font-weight: 400;
    text-transform: uppercase;
  }

  .button-common-style{
width: 212px !important;
height: 38px !important;
border: 1px solid #fff !important;
-webkit-margin-after: auto !important;
margin-block-end: auto !important;
text-align: center !important;
padding: 10px !important;
font-family: Akkurat !important;
font-size: 12px !important;
font-weight: 300 !important;
text-transform: uppercase !important;
cursor: pointer !important;
color: #fff;
a{
text-decoration: none !important;
}
  }

}

@media screen and (min-width: 777px){

  .page-banner {
    .banner-image{
      height: 450px !important;
      object-fit: cover !important;
    }
  }
 

  .desk-hide{
      display: none !important;
  }
  .custom-title{
    font-size: 33px !important;
    font-family: Marcellus !important;
  }
  .custom-tag {
    font-size: 17px !important;
    color: #ffffff !important; 
    font-family: Marcellus !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
  }
}
.common-img-height{
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 1500px){
  .common-img-height{
    height: 230px !important;
    object-fit: cover;
  }
}

  // END KRISHNA"S STYLING
.padRL30{
  padding-left: 30px!important;
  padding-right: 30px !important;
}




.font-marcellus, .title {
  font-family: Marcellus!important;
}
.font-Akkurat, .text {
  font-family: Akkurat !important;
}
.view_store{
  padding: 8px 28px;
  margin: 0 auto;
  border: 1px #333 solid;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
}
.view_store:hover{
  background: #333;
  color: #fff!important;
}
.crd_btn{
  width: 100%;
  text-align: center;
}
 
.clearfix {
  clear: both !important;
  padding: 0 !important;
  margin: 0 !important;
}

.scroll-y {
  height: auto !important;
  overflow-y: scroll !important;
}

.tag, .custom-tag  {
  margin-bottom:  auto !important;
}
 