<div class="page-banner">
  <img src="/assets/images/cat-01.png" class="banner-image" />
  <div class="banner-box-shadow">
    <div class="banner-title">
      LOREM IPSUM
    </div>
  </div>
</div>
<div class="shop-deatil-wrapper">
  <div class="container padLR15">
    <div class="row">
      <div class="col-6 ">
        <div class="content-box">
          <h4>LOREM IPSUM</h4>
          <ul class="attractives">
            <li><i class="fa fa-map-marker"></i> Lorem Ipsum</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 1234567890</li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 AM - 10:00
              PM
            </li>
          </ul>
          <p>
            Et eirmod ea sea lorem sea aliquyam sed sea sea, invidunt magna sed
            et dolores et, amet sed stet takimata sadipscing stet. Sanctus magna
            invidunt dolor dolor kasd sit lorem. Ipsum amet diam ipsum eirmod
            sed dolor sea justo accusam, sit erat sit labore.
          </p>
          <div class="shop-image-slider">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let category of categories" class="slide record">
                <img [src]="category.image" class="category-image">
              </div>
            </ngx-slick>
          </div> 
        </div>
      </div>
      <div class="col-6 ">
 <div class="img-margin">
   <img class="img-bottom-margin" src="assets/events/797.png" style="width: 100%">
   

<img src="assets/events/MAP.png" style="width: 100%">
 </div>
    

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


 