 
<div class="page-banner">
    <!-- <img src="/assets/images/cat-01.png" class="banner-image"> -->
  <img src="assets/hyattplaza-images/banner1.jpg" class="banner-image original-size" >  
  
    <div class="banner-box-shadow">
      <div class="banner-title">
          Terms & conditions
      </div>
    </div>
     
  </div>


<div class="terms">

  
  <div id="terms">
      <h3>Privacy Heading</h3>
    <p>Stet justo vero et magna vero sed accusam kasd. Sed eirmod dolores at sed consetetur takimata elitr. Magna duo aliquyam sea ipsum justo dolor stet erat clita, dolor duo kasd est no eirmod amet clita tempor ipsum. Elitr stet sit clita elitr ipsum labore duo sed lorem, et lorem sanctus erat rebum no. Et clita ipsum diam sit erat ea et sea, accusam et at ut consetetur dolor elitr sadipscing, sed amet stet sit diam sanctus voluptua. Et magna voluptua voluptua clita rebum invidunt sea, kasd accusam dolor aliquyam sea, et justo et at et no et. At takimata magna rebum nonumy rebum consetetur eirmod. No consetetur dolores sit kasd, et.
    </p>
    <p>Stet justo vero et magna vero sed accusam kasd. Sed eirmod dolores at sed consetetur takimata elitr. Magna duo aliquyam sea ipsum justo dolor stet erat clita, dolor duo kasd est no eirmod amet clita tempor ipsum. Elitr stet sit clita elitr ipsum labore duo sed lorem, et lorem sanctus erat rebum no. Et clita ipsum diam sit erat ea et sea, accusam et at ut consetetur dolor elitr sadipscing, sed amet stet sit diam sanctus voluptua. Et magna voluptua voluptua clita rebum invidunt sea, kasd accusam dolor aliquyam sea, et justo et at et no et. At takimata magna rebum nonumy rebum consetetur eirmod. No consetetur dolores sit kasd, et.
      </p>
  </div>

   
</div>