@font-face {
    font-family: Akkurat-Light;
    src: url('../../home/Akkurat-Light.ttf');
} 

@font-face {
    font-family: Marcellus-Regular;
    src:url('../../home/Marcellus-Regular.ttf');
}


// .view{
//     margin-top:118px;
// }

h1{ text-transform: uppercase;
    font-family: Marcellus;
}
.ord{
    margin-top: 22px;
    margin-bottom: 22px;

    font-family: Marcellus-Regular;
display: flex;
justify-content: center;
text-transform: uppercase;
}



// FormStyle
#form {
    //max-width: 700px;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }
  .message{
      display: flex;
      margin: 0 0 1rem 0;
      height: 150px;
  }
  label {
    width: 80%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
  }

  label {
      display: inline;
    text-align: left;
   // margin-left: -39px;
 
    // width: 30%;
  }
  input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
  }
//   ButtonStyle
.submit-bt{

    display: flex;
    justify-content: center;

}
button{
    height: 50px;
    width: 188px;
    border: 1px solid black;
    background: black;
    color:white;

}
  

// EndFormStyle

.ord-deal{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.pk-up{
    display: flex;
    margin-right: 66px;
    text-align: left;
}

.form-check-label{
    display:  inline-block;
    padding: 0;
    float: left;
     
}
.pick-up{
    margin-left:44px;
    text-align: left;
    float: left;
}
.form-check-label.pick-up{
    width: 266px;
}
.form-check-label.pick-up2{
    width: 230px;
}

.ff{
    margin-right: -8px;
}
// .qar{
//     display: flex;
//     width: 44px;
// height: 33px;
// float: left;
// justify-content: left;
// }
// .qar{
//     display: flex;
//     justify-content: left;
// }
.qar{
    margin-top:10px;
}
.quan{
    margin-left: 10px;
    grid-gap: 10px;

}
.quantity{
    width:43%;
}

textarea {
    height: 111px;
    border: 1px solid black;
    width: 100%;
}

.add-hide {
// display: none;
    
}


 
// // TEXTBLOCK
// .item {
//     position: relative;
//   }
// .text-block {
//     position: absolute;
//     bottom: 0;
//     //right: 20px;
//     background-color: black;
//     opacity: .6;
//     color: white;
//     width: 100%;
//     height: 22%;
//     //padding-left: 20px;
//    // padding-right: 20px;
//   }

//   .hd{
//       margin-top:2%;
//   }



// ALERTBOXSTYLE
.thnk{
    font-family: Marcelles;
    color: #deb075 !important;
}

.modal{
    padding-top: 15% !important;
     
  // background: url('https://media.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif');
opacity: .7;
}
  
.ok {
	border: 1px solid #deb075;
	color: #deb075;
	width: 88px;
	height: 33px;
	background: #ffffff;
}
// END ALERT STYLE


@media only screen 
and (min-width : 1920px) {
.ff {
    margin-right: 149px;
}
.quantity{
    width:44%;
}

}