<div class="page-banner">
    <!-- <img *ngIf="pageBanner" src="{{ (pageBannerLoaded ? pageBanner.cover : '') }}" class="banner-image" /> -->
   <img class="page-banner" src="http://wildherbstechnologies.com/demos/hyattplaza-beta-version/assets/hyattplaza-images/Entertainment/ban.png">
    <div class="banner-box-shadow">
      <div class="banner-title">
       Entertainmet Details
      </div>
    </div>
  </div>
  <!-- <div class="shop-deatil-wrapper" *ngIf="shopDetail[0]"> -->
      <div class="shop-deatil-wrapper">
 
    <div class="container padLR15" *ngIf="activeEntertainment[0]">
      <div class="row">
        <div class="col-6">
          <div class="content-box">          
            <h4>{{ activeEntertainment[0].title }}</h4>
            <ul class="attractives">
              
              <li><i class="fa fa-phone" aria-hidden="true"></i> 777 111 888</li>
              <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{ activeEntertainment[0].start_time }} - {{ activeEntertainment[0].end_time }}
              </li>
            </ul>
            <p>{{ activeEntertainment[0].description }}</p>
            <div class="shop-image-slider">
              <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let image of activeEntertainment[0].image" class="slide record">
                  <img style="width:100%;" [src]="image.image_name" class="category-image">
                </div>
              </ngx-slick>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img style="width:100%; padding-bottom: 22px" src="{{ activeEntertainment[0].vip_image }}"/>
          <br>
          <img style="width:100%;" src="{{ activeEntertainment[0].map_image }}"/>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
